/*COLORS*/

$grey : #4b4b4b !default;
$blue : #4bade6 !default;
$lilac : #e6eeff !default;
$color-white: #ffffff;
$color-grey: #cfcfcf;
$color-black: #221f1f;
$color-red: #d93622;
$color-overlay: rgba(0, 0, 0, 0.5);
$box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 2px 1px -5px rgba(0, 0, 0, 0.12),
  0 1px 6px 0 rgba(0, 0, 0, 0.2);