/* Global Styles*/

@import "mixins";
@import "colors";

@font-face {
    font-family: 'M PLUS 1p', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,html {
	width: 100%;
	height: 100%;
	font-family: 'M PLUS 1p', sans-serif;
}

h1 { 
	line-height: 20px;
}
h2 { 
	font-size: 40px; 
}
h3 { 
	font-size: 24px; 
}

a { color: #808080; 
	cursor: pointer;
	outline: 0;
	transition: all 0.5s;
	text-decoration: none; 
	&:hover {
		text-decoration: none; 
	}
}

img {
	width: 100%;
}

.main-wrapper {
	@include ScreenWidth;
}

.head-wrapper {
	height: 135px;
	@include CenterWidth;
}

.wrapper {
	@include ScreenWidth;
	margin: 0 auto;
	&.fixed {
	    position: absolute;
	    height: 100px;
	    margin-top: -80px;
	    z-index: 9;
	}
}

.body-wrapper {
	@include BodyWidth;
	margin: 0 auto;
}


/*HEADER*/
header {
	@include CenterWidth;
}


/************************************************/
/****************** NAVIGATION ******************/
/************************************************/






nav {

	ul {
		padding: 0;
		margin: 0;
		li {
			float: left;
			list-style: none;
			a {
				display: block;
				padding: 5px 10px;
				color: #000;
			}
		}
	}
}







section {
	width: 100%;
	display: table;
	h2 {
		text-align: left;
	    font-size: 74px;
	    line-height: 57px;
	    margin: 0;
	    text-transform: uppercase;
	}
	.subheading {
		margin-top: 15px;
		font-size: 16px;
	}
	.float-title {
		top: 0;
	    height: 80px;
	    position: absolute;
	    margin-top: -25px;
	    width: 435px;
	    background-position: right bottom;
	    background-repeat: no-repeat;
	    background-image: url(../images/slant.svg);
	    &.greeting {
		    width: 500px;
		}
	}

}




.left {
	float: left;
}
.textleft {
	text-align: left;
}


.col {
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.col-2 {
	width: 20%;
}
.col-3 {
	width: 30%;
}
.col-33 {
	width: 33%;
}

.col-4 {
	width: 40%;
}

.col-5 {
	width: 50%;
}

.col-6 {
	width: 60%;
}

.col-7 {
	width: 70%;
}

.col-8 {
	width: 80%;
}


