

@mixin ScreenWidth {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}
@mixin CenterWidth {
	width: 990px;
	margin:0 auto;
}
@mixin BodyWidth {
	width: 880px;
}
@mixin FloatLeft {
	float: left;
}
@mixin FloatNone {
	float: none;
}
@mixin Center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
@mixin VerticalMiddle {
	display: table-cell;
    vertical-align: middle;
}
