body {
  padding: 0;
  margin: 0px;
  color: #fff;
  background-color: #000;
}

a {
  cursor: pointer;
}

.animated {
  animation-delay: 1s;
  animation-duration: 2.5s;
 }

.main-wrapper {
  height: 100%;
  position: relative;
  display: table;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;

  .left, .right {
    width: 50%;
  }
  #notifications {
    display: none !important;
  }
  .validation-error {
      width: 100%;
      padding: 10px;
      display: none;
      font-size: 14px;
      letter-spacing: 0.5px;
      border: 1px solid red; 
      font-family: HelveticaNeue-Light, sans-serif;
    }
  .left {
    top: 0;
    left: 0;
    z-index: 8;
    height: 100%;
    position: fixed;

    .regform-caption, .thankyou-caption {
      font-family: miller-banner, sans-serif;
      position: fixed;
      top: 150px;
      display: none;
      width: 100%;
      color: #fff;
      transition: all 0.5s;
      text-align: center;
    }

    .regform-caption {
      font-style: normal;
      font-size: 36px;
      text-transform: uppercase;

      p {
        max-width: 300px;
        margin: 0 auto;

        i {
          font-size: 30px;
          margin-left: -30px;
          font-style: italic;
          text-transform: lowercase;
        }

        span {
          width: 100%;
          margin-left: 40px;
        }
      }
    }

    .thankyou-caption {
      font-style: normal;
      font-size: 36px;
      text-transform: uppercase;

      p {
        max-width: 300px;
        margin: 0 auto;

        i {
          font-size: 30px;
          text-align: center;
          font-style: italic;
          text-transform: lowercase;
        }

        span {
          width: 100%;
        }
      }
    }

    .reg-form {
      top: 25%;
      width: 100%;
      height: 100%;
      left: 30%;
      display: none;
      max-width: 50%;
      transition: all 2s;
      position: absolute;
      .blank-space {
        width: 100%;
        height: 320px;
        display: table;
        display: none;
      }
      .validation-error {
        width: 100%;
        padding: 10px;
        display: none;
        border: 1px solid red;
      }
      form {
        width: 100%;

        .reg-input {
          input {
            width: 100%;
            border: 0;
            color: #fff;
            padding: 10px;
            font-size: 14px;
            line-height: 24px;
            transition: all .5s;
            font-family: HelveticaNeue-Medium, sans-serif;
            background-color: transparent;
            border-bottom: 1px solid #908a8a;

            &[type=submit] {
              width: 100%;
              border: 0;
              color: #fff;
              padding: 10px;
              font-size: 14px;
              line-height: 24px;
              transition: all .5s;
              font-family: HelveticaNeue-Medium, sans-serif;
              background-color: transparent;
              border-bottom: 1px solid #908a8a;
            }

            &::-webkit-input-placeholder, &[type=submit]::-webkit-input-placeholder, &:-ms-input-placeholder, &[type=submit]:-ms-input-placeholder, &::placeholder, &[type=submit]::placeholder {
              color: #fff;
            }
          }

          select {
            width: 103%;
            border: 0;
            color: #757575;
            padding: 10px;
            height: 45px;
            font-size: 14px;
            border-radius: unset;
            line-height: 24px;
            transition: all .5s;
            background-color: transparent;
            border-bottom: 1px solid #908a8a;

            option {
              color: #fff;
              outline: 0;
              background-color: #000;
              font-size: 14px;
              font-family: HelveticaNeue-Medium, sans-serif;
            }
          }
        }
      }

      .contact-details {
        color: #fff;
        width: 95%;
        transition: all .5s;
        margin: 30px auto;

        .left, .right {
          float: left;
          height: auto;
          top: unset;
          left: unset;
          position: unset;
          background-image: none;
        }

        .left.kay img, .right.kay img {
          width: 122px;
          height: 17px;
        }

        .left {
          width: 60%;
        }

        .right {
          width: 40%;
        }

        img {
          width: 205px;
          height: 12px;
          clear: both;
          margin-bottom: 20px;
        }

        span {
          width: 100%;
          clear: both;
          display: block;
          color: #f3f1f0;
          line-height: 21px;
          font-size: 17px;
          margin-bottom: 10px;
          font-family: HelveticaNeue-Light, sans-serif;
          i {
            font-family: HelveticaNeue-Italic, sans-serif;
            font-style: italic;
          }
        }
      }

    }

    .success {
      display: none;
      top: 35%;
      width: 100%;
      height: 100%;
      left: 28%;
      max-width: 50%;
      position: absolute;

      p {
        width: 100%;
        height: 90px;
        margin: 0 auto;
        object-fit: contain;
        font-family: HelveticaNeue-Light, sans-serif;
        font-size: 21px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 28px;
        letter-spacing: .7px;
        text-align: center;
        color: #fff;
      }

      .contact-details {
        color: #fff;
        width: 95%;
        max-width: 400px;
        margin: 50px auto;

        .left, .right {
          float: left;
          height: auto;
          top: unset;
          left: unset;
          position: unset;
          background-image: none;
        }
      }
    }
  }

  .right, .right-mobile .bg {
    background-size: cover;
    background-position: center;
    background-image: url(../images/main-banner.png);
  }

  .left {
    .success .contact-details {
      .left.kay img, .right.kay img {
        width: 122px;
        height: 17px;
      }

      .left {
        width: 60%;
      }

      .right {
        width: 40%;
      }

      img {
        width: 205px;
        height: 12px;
        clear: both;
        margin-bottom: 20px;
      }

      span {
        width: 100%;
        clear: both;
        display: block;
        color: #f3f1f0;
        line-height: 21px;
        font-size: 17px;
        margin-bottom: 10px;
        font-family: HelveticaNeue-Light, sans-serif;
        i {
          font-family: HelveticaNeue-Italic, sans-serif;
          font-style: italic;
        }
      }
    }

    .logo1 {
      top: 0;
      left: 0;
      padding: 60px;
      width: 100%;
      max-width: 230px;
      position: absolute;

      img {
        max-width: 231px;
        transition: all 0.5s;
      }

      &.smaller img {
        max-width: 176px;
      }
    }

    .logo2 {
      left: 0;
      bottom: 0;
      width: 100%;
      max-width: 170px;
      padding: 60px;
      position: absolute;

      p {
        color: #fff;
        font-size: 12px;
        line-height: 28px;
        margin-bottom: 10px;
      }

      img {
        max-width: 174px;
        transition: all 0.5s;
      }

      &.smaller img {
        max-width: 129px;
      }
    }
  }

  .right {
    top: 0;
    right: 0;
    z-index: 8;
    height: 100%;
    display: table;
    position: fixed;
    .home-wrapper {
      top: 0;
      right: calc(100vw / 4);
      z-index: 11;
      width: 100%;
      max-width: 950px;
      height: 100%;
      display: table;
      position: absolute;
      .home-caption {
        color: #fff;
        width: 100%;
        transition: all 0.5s;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        margin: 0 auto;
        max-width: 450px;
        letter-spacing: .7px;
        font-family: HelveticaNeue-Light, sans-serif;

        p {
          line-height: 28px;
          max-width: 450px;
          text-align: center;
          margin: 0 auto;
          object-fit: contain;
          font-family: HelveticaNeue-light, sans-serif;
          font-size: 21px;
          font-weight: 300;
        }

        h1 {
          font-family: miller-banner, sans-serif;
          font-style: normal;
          font-size: 80px;
          text-align: center;
          text-transform: uppercase;

          i {
            font-style: italic;
            text-transform: lowercase;
          }
        }

        img {
          max-width: 800px;
          margin-top: 80px;
          clear: both;
        }
      }
    }
  }

  .right-mobile {
    width: 100%;
    height: 350px;
    display: none !important;
    position: relative;

    .bg {
      width: 100%;
      height: 350px;
      opacity: .4;
      position: absolute;
      transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
    }
  }

  .mobile-wrapper {
    margin: -80px auto 0;
    position: absolute;
    width: 100%;
    display: none !important;

    .button {
      width: 116px;
    }
    .validation-error {
      width: 100%;
      padding: 10px;
      display: none;
      transition: all 0.5s;
      border: 1px solid red;
      &.active {
        display: none;
      }
    }
    .home-caption {
      display: block !important;
      right: unset;
      top: 0;
      margin: 0 auto;
      width: 100%;
      max-width: 350px;
      font-family: HelveticaNeue-Light, sans-serif;

      p {
        font-size: 17px;
        text-align: center;
        margin: 50px auto 30px;
        object-fit: contain;
        font-family: HelveticaNeue-light, sans-serif;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: .57px;
        width: 100%;
        max-width: 350px;
      }

      h1 {
        margin: 0 auto;
        font-family: miller-banner, sans-serif;
        font-style: normal;
        font-size: 40px !important;
        text-align: center;
        width: 100%;
        max-width: 350px;
        text-transform: uppercase;

        i {
          font-style: italic;
          text-transform: lowercase;
        }
      }

      img {
        max-width: 800px;
        margin-top: 80px;
        clear: both;
      }
    }

    .logo2 {
      display: none;
      margin: 50px auto 0;
      width: 100%;
      max-width: 350px;

      img {
        max-width: 113px;
      }

      p {
        font-size: 12px;
      }
    }

    .regform-caption {
      margin-top: 80px;
      display: block !important;
      position: relative;
      font-family: miller-banner, sans-serif;
      font-style: normal;
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;

      p {
        max-width: 300px;
        margin: 0 auto 20px;

        i {
          font-size: 26px;
          margin-left: -30px;
          font-style: italic;
          text-transform: lowercase;
        }

        span {
          width: 100%;
          margin-left: 40px;
        }
      }
    }

    .reg-form {
      display: block;
      height: 100%;
      transition: all 2s;
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 350px;

      form .reg-input {
        border-bottom: none;

        input {
          width: 350px;
          border: 0;
          color: #fff;
          padding: 10px;
          outline: 0;
          font-size: 14px;
          line-height: 24px;
          transition: all .5s;
          border-bottom: 1px solid #908a8a;
          font-family: HelveticaNeue-Medium, sans-serif;
          background-color: transparent;

          &[type=submit] {
            width: 350px;
            border: 0;
            color: #fff;
            padding: 10px;
            outline: 0;
            font-size: 14px;
            line-height: 24px;
            transition: all .5s;
            font-family: HelveticaNeue-Medium, sans-serif;
            background-color: transparent;
          }

          &::-webkit-input-placeholder, &[type=submit]::-webkit-input-placeholder, &:-ms-input-placeholder, &[type=submit]:-ms-input-placeholder, &::placeholder, &[type=submit]::placeholder {
            color: #fff;
          }
        }

        select {
          width: 350px;
          border: 0;
          color: #757575;
          outline: 0;
          padding: 10px;
          height: 45px;
          font-size: 14px;
          border-radius: unset;
          line-height: 24px;
          transition: all .5s;
          background-color: transparent;
          border-bottom: 1px solid #908a8a;
          option {
            color: #000;
            font-size: 14px;
            font-family: HelveticaNeue-Medium, sans-serif;
          }
        }
      }

      .contact-details {
        color: #fff;
        width: 100%;
        display: table;
        transition: all 3s;

        .left, .right {
          float: left;
          height: auto;
          top: unset;
          left: unset;
          position: unset;
          background-image: none;
        }

        .left.kay img, .right.kay img {
          width: 122px;
          height: 17px;
        }

        .left {
          width: 54%;

          img {
            width: 171px;
            height: auto;
          }
        }

        .right {
          display: block;
          width: 40%;
          text-align: center;

          img {
            width: 108px !important;
            height: auto !important;
          }
        }

        img {
          width: 205px;
          height: 12px;
          clear: both;
          margin-bottom: 20px;
        }

        span {
          width: 100%;
          clear: both;
          display: block;
          text-align: center;
          color: #f3f1f0;
          line-height: 21px;
          font-size: 17px;
          margin-bottom: 10px;
          font-family: HelveticaNeue-Light, sans-serif;

          i {
            font-family: HelveticaNeue-Italic, sans-serif;
            font-style: italic;
          }
        }
      }
    }

    .success {
      .contact-details {
        display: none;
      }

      p {
        display: block;
        max-width: 320px;
        font-size: 15px;
        margin: 50px auto;
        text-align: center;
        line-height: 20px;
        letter-spacing: .5px;
        font-family: HelveticaNeue-Light, sans-serif;

        i {
          font-size: 15px;
          text-align: center;
          font-style: italic;
          text-transform: lowercase;
        }

        span {
          width: 100%;
        }
      }
    }
  }

  .button {
    color: #000;
    cursor: pointer;
    margin: 0 auto;
    width: 150px;
    clear: both;
    outline: 0;
    font-size: 22px;
    text-align: center;
    display: block;
    padding: 8px;
    transition: all .5s;
    font-style: italic;
    -webkit-text-stroke: .5px #685731;
    font-family: bressay-display, sans-serif;
    border: 0;
    border-radius: 18px;
    background-color: #fff;

    &.submits {
      color: #fff;
      padding-top: 2px;
      width: 121px;
      height: 32px;
      margin: 50px auto;
      background-color: #685731;

      &:hover {
        background-color: grey;
      }
    }
  }

  &.mobile {
    width: 100%;
    display: block;

    .left {
      width: 100%;
      position: relative;

      .logo1, .logo2 {
        padding: 0;
        max-width: 100%;
        height: 200px;
        position: relative;
      }

      .logo1 div, .logo2 div {
        width: 100%;
        height: 100%;
        display: table;
        position: relative;
      }

      .logo1 div img {
        margin: 50px auto 0;
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        max-width: 140px;
      }

      .logo2 {
        div img {
          margin: 50px auto 0;
          display: table-cell;
          vertical-align: middle;
          padding: 0;
          max-width: 140px;
        }

        display: none;
      }

      .success, .thankyou-caption {
        display: none !important;
      }
    }

    .right {
      display: none;

      .home-caption {
        display: block;
        width: 100%;
        right: unset;
        margin: 0 auto;

        h1 {
          width: 230px;
          font-size: 40px;
          margin: 0 auto;
          text-align: center;
        }
      }
    }

    .right-mobile {
      display: block !important;
    }

    .logo2 {
      display: table;

      p {
        float: left;
      }

      img {
        float: right;
      }
    }

    .mobile-wrapper {
      display: block !important;
    }
  }
}

@media (max-width: 1900px) {
  .home-caption {
    max-width: 800px !important;

    h1 {
      font-size: 65px !important;
    }
  }
}

@media (max-width: 1600px) {
  .home-caption {
    max-width: 800px !important;

    h1 {
      font-size: 50px !important;
    }
  }

  .main-wrapper {
    .left .reg-form .contact-details .left img, .success .contact-details .left img {
      width: 145px;
      height: auto;
    }

    .left .reg-form .contact-details .right img, .success .contact-details .right img {
      width: 90px !important;
      height: auto !important;
    }
  }
}

@media (max-width: 1300px) {
  .main-wrapper {
    .left .reg-form {
      left: 16%;
      max-width: 65%;

      .contact-details {
        width: 95%;
        .left {
          width: 60% !important;
          display: inline-block;
        }
      }
    }

    .success .contact-details .left {
      width: 60% !important;
      display: inline-block;
    }

    .left .reg-form .contact-details .right, .success .contact-details .right {
      width: 40% !important;
      display: inline-block;
    }

    .left .success {
      max-width: 60%;
      left: 20%;

      p {
        width: 330px;
        font-size: 18px;
      }

      .contact-details {
        width: auto;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 780px) {
  .main-wrapper {
    &.mobile .left {
      .reg-form, .regform-caption {
        display: none !important;
      }
    }

    .mobile {
      width: 30%;
    }
  }
}



.main-wrapper {
  .left {
    .success .contact-details {
      .left {
        width: 60%;
      }

      .right {
        width: 40%;
      }

      img {
        width: 205px;
        height: 12px;
        clear: both;
        margin-bottom: 20px;
      }

      span {
        width: 100%;
        clear: both;
        display: block;
        color: #f3f1f0;
        line-height: 21px;
        font-size: 13px;
        margin-bottom: 10px;

        i {
          font-family: HelveticaNeue-Italic,sans-serif;
          font-style: italic;
        }
      }
    }

    .logo1 {
      top: 0;
      left: 0;
      padding: 60px;
      width: 100%;
      max-width: 230px;
      position: absolute;

      img {
        max-width: 231px;
        transition: all .5s;
      }

      &.smaller img {
        max-width: 176px;
      }
    }

    .logo2 {
      left: 0;
      bottom: 0;
      width: 100%;
      max-width: 170px;
      padding: 60px;
      position: absolute;

      p {
        color: #fff;
        font-size: 12px;
        line-height: 28px;
        margin-bottom: 10px;
      }

      img {
        max-width: 174px;
        transition: all .5s;
      }

      &.smaller img {
        max-width: 129px;
      }
    }
  }

  .right {
    .home-caption {
      p {
        line-height: 28px;
        max-width: 450px;
        text-align: center;
        margin: 0 auto;
        object-fit: contain;
        font-family: HelveticaNeue-light,sans-serif;
        font-size: 21px;
        font-weight: 300;
      }

      h1 {
        font-family: miller-banner,sans-serif;
        font-style: normal;
        font-size: 80px;
        text-align: center;
        text-transform: uppercase;

        i {
          font-style: italic;
          text-transform: lowercase;
        }
      }

      img {
        max-width: 800px;
        margin-top: 80px;
        clear: both;
      }
    }
  }

  .right-mobile {
    width: 100%;
    height: 350px;
    display: none !important;
    position: relative;

    .bg {
      width: 100%;
      height: 350px;
      opacity: .4;
      position: absolute;
      transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
    }
  }

  .mobile-wrapper {
    margin: -80px auto 0;
    position: absolute;
    width: 100%;
    display: none !important;

    .button {
      width: 116px;
    }

    .home-caption {
      display: block !important;
      right: unset;
      top: 0;
      margin: 0 auto;
      width: 100%;
      max-width: 350px;
      font-family: HelveticaNeue-Light,sans-serif;

      p {
        font-size: 17px;
        text-align: center;
        margin: 50px auto 30px;
        object-fit: contain;
        font-family: HelveticaNeue-light,sans-serif;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: .57px;
        width: 100%;
        max-width: 350px;
      }

      h1 {
        margin: 0 auto;
        font-family: miller-banner,sans-serif;
        font-style: normal;
        font-size: 40px !important;
        text-align: center;
        width: 100%;
        max-width: 350px;
        text-transform: uppercase;

        i {
          font-style: italic;
          text-transform: lowercase;
        }
      }

      img {
        max-width: 800px;
        margin-top: 80px;
        clear: both;
      }
    }

    .logo2 {
      display: none;
      margin: 50px auto 0;
      width: 100%;
      max-width: 350px;

      img {
        max-width: 113px;
      }

      p {
        font-size: 12px;
      }
    }

    .regform-caption {
      margin-top: 80px;
      display: block !important;
      position: relative;
      font-family: miller-banner,sans-serif;
      font-style: normal;
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;

      p {
        max-width: 300px;
        margin: 0 auto 20px;

        i {
          font-size: 26px;
          margin-left: -30px;
          font-style: italic;
          text-transform: lowercase;
        }

        span {
          width: 100%;
          margin-left: 40px;
        }
      }
    }

    .reg-form {
      display: block;
      height: 100%;
      transition: all 2s;
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 350px;

      form .reg-input {
        /*border-bottom: 1px solid #908a8a;*/

        input {
          width: 350px;
          border: 0;
          color: #fff;
          padding: 10px;
          outline: 0;
          font-size: 14px;
          line-height: 24px;
          transition: all .5s;
          border-bottom: 1px solid #908a8a;
          font-family: HelveticaNeue-Medium,sans-serif;
          background-color: transparent;

          &[type=submit] {
            width: 350px;
            border: 0;
            color: #fff;
            padding: 10px;
            outline: 0;
            font-size: 14px;
            line-height: 24px;
            transition: all .5s;
            font-family: HelveticaNeue-Medium,sans-serif;
            background-color: transparent;
          }

          &::-webkit-input-placeholder, &[type=submit]::-webkit-input-placeholder, &:-ms-input-placeholder, &[type=submit]:-ms-input-placeholder, &::placeholder, &[type=submit]::placeholder {
            color: #fff;
          }
        }

        select {
          width: 365px;
          border: 0;
          color: #757575;
          outline: 0;
          padding: 10px;
          height: 45px;
          font-size: 14px;
          border-radius: unset;
          line-height: 24px;
          transition: all .5s;
          background-color: transparent;
          border-bottom: 1px solid #908a8a;
          option {
            color: #000;
            font-size: 14px;
            font-family: HelveticaNeue-Medium,sans-serif;
          }
        }
      }

      .contact-details {
        color: #fff;
        width: 100%;
        display: table;
        transition: all 3s;

        .left, .right {
          float: left;
          height: auto;
          top: unset;
          left: unset;
          position: unset;
          background-image: none;
        }

        .left.kay img, .right.kay img {
          width: 122px;
          height: 17px;
        }

        .left {
          width: 54%;

          img {
            width: 171px;
            height: auto;
          }
        }

        .right {
          display: block;
          width: 40%;
          text-align: center;

          img {
            width: 108px !important;
            height: auto !important;
          }
        }

        img {
          width: 205px;
          height: 12px;
          clear: both;
          margin-bottom: 20px;
        }

        span {
          width: 100%;
          clear: both;
          display: block;
          text-align: center;
          color: #f3f1f0;
          line-height: 21px;
          font-size: 15px;
          margin-bottom: 10px;

          i {
            font-family: HelveticaNeue-Italic,sans-serif;
            font-style: italic;
          }
        }
      }
    }

    .success {
      .contact-details {
        display: none;
      }

      p {
        display: block;
        max-width: 320px;
        font-size: 15px;
        margin: 50px auto;
        text-align: center;
        line-height: 20px;
        letter-spacing: .5px;
        font-family: HelveticaNeue-Light,sans-serif;

        i {
          font-size: 15px;
          text-align: center;
          font-style: italic;
          text-transform: lowercase;
        }

        span {
          width: 100%;
        }
      }
    }
  }

  .button {
    color: #000;
    cursor: pointer;
    margin: 0 auto;
    width: 150px;
    clear: both;
    font-size: 22px;
    text-align: center;
    display: block;
    padding: 8px;
    transition: all .5s;
    font-style: italic;
    -webkit-text-stroke: .5px #685731;
    font-family: bressay-display,sans-serif;
    border: 0;
    border-radius: 18px;
    background-color: #fff;

    &.submits {
      color: #fff;
      padding-top: 2px;
      width: 121px;
      height: 32px;
      margin: 50px auto;
      background-color: #685731;

      &:hover {
        background-color: grey;
      }
    }
  }

  &.mobile {
    width: 100%;
    display: block;

    .left {
      width: 100%;
      position: relative;

      .logo1, .logo2 {
        padding: 0;
        max-width: 100%;
        height: 200px;
        position: relative;
      }

      .logo1 div, .logo2 div {
        width: 100%;
        height: 100%;
        display: table;
        position: relative;
      }

      .logo1 div img {
        margin: 50px auto 0;
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        max-width: 140px;
      }

      .logo2 {
        div img {
          margin: 50px auto 0;
          display: table-cell;
          vertical-align: middle;
          padding: 0;
          max-width: 140px;
        }

        display: none;
      }

      .success, .thankyou-caption {
        display: none !important;
      }
    }

    .right {
      display: none;

      .home-caption {
        display: block;
        width: 100%;
        right: unset;
        margin: 0 auto;

        h1 {
          width: 230px;
          font-size: 40px;
          margin: 0 auto;
          text-align: center;
        }
      }
    }

    .right-mobile {
      display: block !important;
    }

    .logo2 {
      display: table;

      p {
        float: left;
      }

      img {
        float: right;
      }
    }

    .mobile-wrapper {
      display: block !important;
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-size: 15px;
  background-position: center;
  background-image: url(/assets/images/white-arrow.png);
  background-repeat: no-repeat;
  background-position-x: 99%;
}


@media(max-width: 2570px) {
  .main-wrapper .right .home-wrapper {
    right: 63%;
  }
}

@media(max-width: 2200px) {
  .main-wrapper .right .home-wrapper {
    right: 52%;
  }
  .main-wrapper .right .home-wrapper {
    right: 63%;
  }
}

@media(max-width: 1920px) {
  .main-wrapper .right .home-wrapper {
    right: calc(100vw / 4);
  }
}


@media (max-width: 1900px) {
  .home-caption {
    max-width: 800px !important; }
    .home-caption h1 {
      font-size: 65px !important; } }

@media (max-width: 1600px) {
  .home-caption {
    max-width: 800px !important; }
    .home-caption h1 {
      font-size: 50px !important; }
  .main-wrapper .left .reg-form .contact-details .left img, .main-wrapper .success .contact-details .left img {
    width: 170px;
    height: auto; }
  .main-wrapper .contact-details {
    width: 95%; }
  .main-wrapper .mobile-wrapper .left .reg-form .contact-details .right img {
    margin-bottom: 15px; }
  .main-wrapper .left .reg-form .contact-details .right img, .main-wrapper .success .contact-details .right img {
    width: 115px !important;
    height: auto !important; } 
    .main-wrapper .left .reg-form form .reg-input select {
    width: 105%;
    }
  }

@media(max-width: 1700px) {
  .main-wrapper .left .reg-form form .reg-input select {
    width: 104.8%;
  }
}

@media (max-width: 1300px) {
  .main-wrapper .left .reg-form {
    left: 16%;
    max-width: 65%; }
    .main-wrapper .left .reg-form .contact-details {
      width: 97%; }
      .main-wrapper .left .reg-form .contact-details .left {
        width: 60% !important;
        display: inline-block; }
      .main-wrapper .left .reg-form .contact-details .right img {
        margin-bottom: 15px; }
  .main-wrapper .mobile-wrapper .reg-form .contact-details .right img {
    margin-bottom: 15px; }
  .main-wrapper .success .contact-details .left {
    width: 60% !important;
    display: inline-block; }
  .main-wrapper .left .reg-form .contact-details .right, .main-wrapper .success .contact-details .right {
    width: 40% !important;
    display: inline-block; }
  .main-wrapper .left .success {
    max-width: 60%;
    left: 20%; }
    .main-wrapper .left .success p {
      width: 330px;
      font-size: 18px; }
    .main-wrapper .left .success .contact-details {
      width: auto;
      max-width: 100%; } }

@media (max-width: 980px) {
  .main-wrapper .left .reg-form .contact-details {
    width: 110%; }
    .main-wrapper .left .reg-form .contact-details .left {
      width: 60% !important;
      display: inline-block; }
    .main-wrapper .left .reg-form .contact-details span {
      font-size: 14px; } }

@media (min-width: 841px) {
  #home {
    display: table-cell; } 
  }

@media (max-width: 860px) {
  #home, #thankyou, #regform {
    display: none; }
  .main-wrapper.mobile .left .reg-form, .main-wrapper.mobile .left .regform-caption {
    display: none !important; }
  .main-wrapper .main-wrapper .left .reg-form .contact-details {
    width: 100%; }
  .main-wrapper .mobile {
    width: 30%; } 
  .main-wrapper .mobile-wrapper .reg-form .contact-details .left img {
    float: right;
    }
  }

@media (max-width: 768px) {
  .main-wrapper .right-mobile .bg {
    height: 430px; }
  .main-wrapper .mobile-wrapper {
    margin: -20px auto 0; } }

@media (max-width: 480px) {
  .main-wrapper .mobile-wrapper {
    margin: -20px auto 0; } }
