/* ##### HELPERS #####  */
/*.container { box-shadow: 0px 0px 1px 1px rgba(0,255,255,0.5) inset; } */
/*#helpers > div { padding: 25px 50px 25px 50px; text-transform: uppercase; color: #ffffff; background: rgba(50,50,50,0.75) none; position: fixed; bottom: 10px; left: 10px; z-index: 99; }*/

/* ##### REUSABLE ##### */

.inherit > *,
.inherit > ul li,
.inherit > ul li *,
.inherit > p span,
.inherit > p a
{
	color: inherit !important;
	font-size: inherit !important;
	font-family: inherit !important;
	text-decoration: inherit !important;
	text-transform: inherit !important;
	font-weight: inherit !important;
}

.mg-all-no  { margin: 0px !important; }
.mg-all-xxxs{ margin: 3px !important; }
.mg-all-xxs { margin: 5px !important; }
.mg-all-xs  { margin: 10px !important; }
.mg-all-sm  { margin: 15px !important; }
.mg-all-md  { margin: 25px !important; }
.mg-all-lg  { margin: 40px !important; }
.mg-all-xl  { margin: 60px !important; }
.mg-all-xxl { margin: 100px !important; }

.mg-t-no  { margin-top: 0px !important; }
.mg-t-xxxs{ margin-top: 3px !important; }
.mg-t-xxs { margin-top: 5px !important; }
.mg-t-xs  { margin-top: 8px !important; }
.mg-t-sm  { margin-top: 15px !important; }
.mg-t-md  { margin-top: 25px !important; }
.mg-t-lg  { margin-top: 40px !important; }
.mg-t-xl  { margin-top: 60px !important; }
.mg-t-xxl { margin-top: 100px !important; }

.mg-r-no  { margin-right: 0px !important; }
.mg-r-xxxs{ margin-right: 3px !important; }
.mg-r-xxs { margin-right: 5px !important; }
.mg-r-xs  { margin-right: 10px !important; }
.mg-r-sm  { margin-right: 15px !important; }
.mg-r-md  { margin-right: 25px !important; }
.mg-r-lg  { margin-right: 40px !important; }
.mg-r-xl  { margin-right: 60px !important; }
.mg-r-xxl { margin-right: 100px !important; }

.mg-b-no  { margin-bottom: 0px !important; }
.mg-b-xxxs{ margin-bottom: 3px !important; }
.mg-b-xxs { margin-bottom: 5px !important; }
.mg-b-xs  { margin-bottom: 10px !important; }
.mg-b-sm  { margin-bottom: 15px !important; }
.mg-b-md  { margin-bottom: 25px !important; }
.mg-b-lg  { margin-bottom: 40px !important; }
.mg-b-xl  { margin-bottom: 60px !important; }
.mg-b-xxl { margin-bottom: 100px !important; }

.mg-l-no  { margin-left: 0px !important; }
.mg-l-xxxs{ margin-left: 3px !important; }
.mg-l-xxs { margin-left: 5px !important; }
.mg-l-xs  { margin-left: 10px !important; }
.mg-l-sm  { margin-left: 15px !important; }
.mg-l-md  { margin-left: 25px !important; }
.mg-l-lg  { margin-left: 40px !important; }
.mg-l-xl  { margin-left: 60px !important; }
.mg-l-xxl { margin-left: 100px !important; }

.pd-all-no  { padding: 0px !important; }
.pd-all-xxxs{ padding: 3px !important; }
.pd-all-xxs { padding: 5px !important; }
.pd-all-xs  { padding: 10px !important; }
.pd-all-sm  { padding: 15px !important; }
.pd-all-md  { padding: 25px !important; }
.pd-all-lg  { padding: 40px !important; }
.pd-all-xl  { padding: 60px !important; }
.pd-all-xxl { padding: 100px !important; }

.pd-t-no  { padding-top: 0px !important; }
.pd-t-xxxs{ padding-top: 3px !important; }
.pd-t-xxs { padding-top: 5px !important; }
.pd-t-xs  { padding-top: 10px !important; }
.pd-t-sm  { padding-top: 15px !important; }
.pd-t-md  { padding-top: 25px !important; }
.pd-t-lg  { padding-top: 40px !important; }
.pd-t-xl  { padding-top: 60px !important; }
.pd-t-xxl { padding-top: 100px !important; }

.pd-r-no  { padding-right: 0px !important; }
.pd-r-xxxs{ padding-right: 3px !important; }
.pd-r-xxs { padding-right: 5px !important; }
.pd-r-xs  { padding-right: 10px !important; }
.pd-r-sm  { padding-right: 15px !important; }
.pd-r-md  { padding-right: 25px !important; }
.pd-r-lg  { padding-right: 40px !important; }
.pd-r-xl  { padding-right: 60px !important; }
.pd-r-xxl { padding-right: 100px !important; }
.pd-r-xxxl { padding-right: 110px !important; }

.pd-b-no  { padding-bottom: 0px !important; }
.pd-b-xxxs{ padding-bottom: 3px !important; }
.pd-b-xxs { padding-bottom: 5px !important; }
.pd-b-xs  { padding-bottom: 10px !important; }
.pd-b-sm  { padding-bottom: 15px !important; }
.pd-b-md  { padding-bottom: 25px !important; }
.pd-b-lg  { padding-bottom: 40px !important; }
.pd-b-xl  { padding-bottom: 60px !important; }
.pd-b-xxl { padding-bottom: 100px !important; }

.pd-l-no  { padding-left: 0px !important; }
.pd-l-xxxs{ padding-left: 3px !important; }
.pd-l-xxs { padding-left: 5px !important; }
.pd-l-xs  { padding-left: 10px !important; }
.pd-l-sm  { padding-left: 15px !important; }
.pd-l-md  { padding-left: 25px !important; }
.pd-l-lg  { padding-left: 40px !important; }
.pd-l-xl  { padding-left: 60px !important; }
.pd-l-xxl { padding-left: 100px !important; }
.pd-l-xxxl { padding-left: 110px !important; }

.bordered {
	border: 1px solid #dddddd;
}

.dashed-bordered {
	border: 1px dashed #dddddd;
}

.manage-galleries {
	list-style: none;
}

.icon
{
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 48px;
	height: 48px;
	vertical-align: middle;
	line-height: 1;
	font-size: inherit;
}

.icon > img
{
	display: block;
	position: absolute;
	height: 20000%;
	top: 0px;
	left: 0px;
	line-height: 1;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.icon-size-50
{
	height: 0.5em;
	width: 0.5em;
}

.icon-size-75
{
	height: 0.75em;
	width: 0.75em;
}

.icon-size-100
{
	height: 1em;
	width: 1em;
}

.icon-size-125
{
	height: 1.25em;
	width: 1.25em;
}

.icon-size-150
{
	height: 1.5em;
	width: 1.5em;
}

.icon-size-175
{
	height: 1.75em;
	width: 1.75em;
}

.icon-size-200
{
	height: 2em;
	width: 2em;
}

.icon-size-225
{
	height: 2.25em;
	width: 2.25em;
}

.icon-size-400
{
	height: 4em;
	width: 4em;
}

.icon.icon-pages						> img	{ top: 0%;   }
.icon.icon-pages.outline-dark			> img	{ top: -100%; }
.icon.icon-pages.outline-light			> img	{ top: -200%; }
.icon.icon-pages.fill-dark				> img	{ top: -300%; }
.icon.icon-pages.fill-light				> img	{ top: -400%; }
		
.icon.icon-dashboard					> img	{ top: -500%; }
.icon.icon-dashboard.outline-dark		> img	{ top: -600%; }
.icon.icon-dashboard.outline-light		> img	{ top: -700%; }
.icon.icon-dashboard.fill-dark			> img	{ top: -800%; }
.icon.icon-dashboard.fill-light			> img	{ top: -900%; }
		
.icon.icon-pin							> img	{ top: -1000%; }
.icon.icon-pin.outline-dark				> img	{ top: -1100%; }
.icon.icon-pin.outline-light			> img	{ top: -1200%; }
.icon.icon-pin.fill-dark				> img	{ top: -1300%; }
.icon.icon-pin.fill-light				> img	{ top: -1400%; }
		
.icon.icon-users							> img	{ top: -1500%; }
.icon.icon-users.outline-dark			> img	{ top: -1600%; }
.icon.icon-users.outline-light			> img	{ top: -1700%; }
.icon.icon-users.fill-dark				> img	{ top: -1800%; }
.icon.icon-users.fill-light				> img	{ top: -1900%; }
	
.icon.icon-paperclip					> img	{ top: -2000%; }
.icon.icon-paperclip.outline-dark		> img	{ top: -2100%; }
.icon.icon-paperclip.outline-light		> img	{ top: -2200%; }
.icon.icon-paperclip.fill-dark			> img	{ top: -2300%; }
.icon.icon-paperclip.fill-lighft		> img	{ top: -2400%; }
	
.icon.icon-cog							> img	{ top: -2500%; }
.icon.icon-cog.outline-dark				> img	{ top: -2600%; }
.icon.icon-cog.outline-light			> img	{ top: -2700%; }
.icon.icon-cog.fill-dark				> img	{ top: -2800%; }
.icon.icon-cog.fill-light				> img	{ top: -2900%; }

.icon.icon-settings						> img	{ top: -2500%; }
.icon.icon-settings.outline-dark		> img	{ top: -2600%; }
.icon.icon-settings.outline-light		> img	{ top: -2700%; }
.icon.icon-settings.fill-dark			> img	{ top: -2800%; }
.icon.icon-settings.fill-light			> img	{ top: -2900%; }
	
.icon.icon-unlock						> img	{ top: -3000%; }
.icon.icon-unlock.outline-dark			> img	{ top: -3100%; }
.icon.icon-unlock.outline-light			> img	{ top: -3200%; }
.icon.icon-unlock.fill-dark				> img	{ top: -3300%; }
.icon.icon-unlock.fill-light			> img	{ top: -3400%; }
	
.icon.icon-lock							> img	{ top: -3500%; }
.icon.icon-lock.outline-dark			> img	{ top: -3600%; }
.icon.icon-lock.outline-light			> img	{ top: -3700%; }
.icon.icon-lock.fill-dark				> img	{ top: -3800%; }
.icon.icon-lock.fill-light				> img	{ top: -3900%; }
	
.icon.icon-disk							> img	{ top: -4000%; }
.icon.icon-disk.outline-dark			> img	{ top: -4100%; }
.icon.icon-disk.outline-light			> img	{ top: -4200%; }
.icon.icon-disk.fill-dark				> img	{ top: -4300%; }
.icon.icon-disk.fill-light				> img	{ top: -4400%; }
	
.icon.icon-package						> img	{ top: -4500%; }
.icon.icon-package.outline-dark			> img	{ top: -4600%; }
.icon.icon-package.outline-light		> img	{ top: -4700%; }
.icon.icon-package.fill-dark			> img	{ top: -4800%; }
.icon.icon-package.fill-light			> img	{ top: -4900%; }
	
.icon.icon-preview						> img	{ top: -5000%; }
.icon.icon-preview.outline-dark			> img	{ top: -5100%; }
.icon.icon-preview.outline-light		> img	{ top: -5200%; }
.icon.icon-preview.fill-dark			> img	{ top: -5300%; }
.icon.icon-preview.fill-light			> img	{ top: -5400%; }
	
.icon.icon-blog							> img	{ top: -5500%; }
.icon.icon-blog.outline-dark			> img	{ top: -5600%; }
.icon.icon-blog.outline-light			> img	{ top: -5700%; }
.icon.icon-blog.fill-dark				> img	{ top: -5800%; }
.icon.icon-blog.fill-light				> img	{ top: -5900%; }
	
.icon.icon-undo							> img	{ top: -6000%; }
.icon.icon-undo.outline-dark			> img	{ top: -6100%; }
.icon.icon-undo.outline-light			> img	{ top: -6200%; }
.icon.icon-undo.fill-dark				> img	{ top: -6300%; }
.icon.icon-undo.fill-light				> img	{ top: -6400%; }
	
.icon.icon-notice						> img	{ top: -6500%; }
.icon.icon-notice.outline-dark			> img	{ top: -6600%; }
.icon.icon-notice.outline-light			> img	{ top: -6700%; }
.icon.icon-notice.fill-dark				> img	{ top: -6800%; }
.icon.icon-notice.fill-light			> img	{ top: -6900%; }
	
.icon.icon-note							> img	{ top: -7000%; }
.icon.icon-note.outline-dark			> img	{ top: -7100%; }
.icon.icon-note.outline-light			> img	{ top: -7200%; }
.icon.icon-note.fill-dark				> img	{ top: -7300%; }
.icon.icon-note.fill-light				> img	{ top: -7400%; }
	
.icon.icon-view							> img	{ top: -7500%; }
.icon.icon-view.outline-dark			> img	{ top: -7600%; }
.icon.icon-view.outline-light			> img	{ top: -7700%; }
.icon.icon-view.fill-dark				> img	{ top: -7800%; }
.icon.icon-view.fill-light				> img	{ top: -7900%; }
	
.icon.icon-house						> img	{ top: -8000%; }
.icon.icon-house.outline-dark			> img	{ top: -8100%; }
.icon.icon-house.outline-light			> img	{ top: -8200%; }
.icon.icon-house.fill-dark				> img	{ top: -8300%; }
.icon.icon-house.fill-light				> img	{ top: -8400%; }
	
.icon.icon-reorder						> img	{ top: -8500%; }
.icon.icon-reorder.outline-dark			> img	{ top: -8600%; }
.icon.icon-reorder.outline-light		> img	{ top: -8700%; }
.icon.icon-reorder.fill-dark			> img	{ top: -8800%; }
.icon.icon-reorder.fill-light			> img	{ top: -8900%; }
	
.icon.icon-edit							> img	{ top: -9000%; }
.icon.icon-edit.outline-dark			> img	{ top: -9100%; }
.icon.icon-edit.outline-light			> img	{ top: -9200%; }
.icon.icon-edit.fill-dark				> img	{ top: -9300%; }
.icon.icon-edit.fill-light				> img	{ top: -9400%; }
	
.icon.icon-services						> img	{ top: -9500%; }
.icon.icon-services.outline-dark		> img	{ top: -9600%; }
.icon.icon-services.outline-light		> img	{ top: -9700%; }
.icon.icon-services.fill-dark			> img	{ top: -9800%; }
.icon.icon-services.fill-light			> img	{ top: -9900%; }

.icon.icon-warning						> img	{ top: -10000%; }
.icon.icon-warning.outline-dark			> img	{ top: -10100%; }
.icon.icon-warning.outline-light		> img	{ top: -10200%; }
.icon.icon-warning.fill-dark			> img	{ top: -10300%; }
.icon.icon-warning.fill-light			> img	{ top: -10400%; }

.icon.icon-downarrow					> img	{ top: -10500%; }
.icon.icon-downarrow.outline-dark		> img	{ top: -10600%; }
.icon.icon-downarrow.outline-light		> img	{ top: -10700%; }
.icon.icon-downarrow.fill-dark			> img	{ top: -10800%; }
.icon.icon-downarrow.fill-light			> img	{ top: -10900%; }

.icon.icon-rightarrow					> img	{ top: -11000%; }
.icon.icon-rightarrow.outline-dark		> img	{ top: -11100%; }
.icon.icon-rightarrow.outline-light		> img	{ top: -11200%; }
.icon.icon-rightarrow.fill-dark			> img	{ top: -11300%; }
.icon.icon-rightarrow.fill-light		> img	{ top: -11400%; }

.icon.icon-pluscircle					> img	{ top: -11500%; }
.icon.icon-pluscircle.outline-dark		> img	{ top: -11600%; }
.icon.icon-pluscircle.outline-light		> img	{ top: -11700%; }
.icon.icon-pluscircle.fill-dark			> img	{ top: -11800%; }
.icon.icon-pluscircle.fill-light		> img	{ top: -11900%; }

.icon.icon-minuscircle					> img	{ top: -12000%; }
.icon.icon-minuscircle.outline-dark		> img	{ top: -12100%; }
.icon.icon-minuscircle.outline-light	> img	{ top: -12200%; }
.icon.icon-minuscircle.fill-dark		> img	{ top: -12300%; }
.icon.icon-minuscircle.fill-light		> img	{ top: -12400%; }

.icon.icon-crosscircle					> img	{ top: -12500%; }
.icon.icon-crosscircle.outline-dark		> img	{ top: -12600%; }
.icon.icon-crosscircle.outline-light	> img	{ top: -12700%; }
.icon.icon-crosscircle.fill-dark		> img	{ top: -12800%; }
.icon.icon-crosscircle.fill-light		> img	{ top: -12900%; }

.icon.icon-plus							> img	{ top: -13000%; }
.icon.icon-plus.outline-dark			> img	{ top: -13100%; }
.icon.icon-plus.outline-light			> img	{ top: -13200%; }
.icon.icon-plus.fill-dark				> img	{ top: -13300%; }
.icon.icon-plus.fill-light				> img	{ top: -13400%; }

.icon.icon-minus						> img	{ top: -13500%; }
.icon.icon-minus.outline-dark			> img	{ top: -13600%; }
.icon.icon-minus.outline-light			> img	{ top: -13700%; }
.icon.icon-minus.fill-dark				> img	{ top: -13800%; }
.icon.icon-minus.fill-light				> img	{ top: -13900%; }

.icon.icon-cross						> img	{ top: -14000%; }
.icon.icon-cross.outline-dark			> img	{ top: -14100%; }
.icon.icon-cross.outline-light			> img	{ top: -14200%; }
.icon.icon-cross.fill-dark				> img	{ top: -14300%; }
.icon.icon-cross.fill-light				> img	{ top: -14400%; }

.icon.icon-leftcircle					> img	{ top: -14500%; }
.icon.icon-leftcircle.outline-dark		> img	{ top: -14600%; }
.icon.icon-leftcircle.outline-light		> img	{ top: -14700%; }
.icon.icon-leftcircle.fill-dark			> img	{ top: -14800%; }
.icon.icon-leftcircle.fill-light		> img	{ top: -14900%; }

.icon.icon-upcircle						> img	{ top: -15000%; }
.icon.icon-upcircle.outline-dark		> img	{ top: -15100%; }
.icon.icon-upcircle.outline-light		> img	{ top: -15200%; }
.icon.icon-upcircle.fill-dark			> img	{ top: -15300%; }
.icon.icon-upcircle.fill-light			> img	{ top: -15400%; }

.icon.icon-rightcircle					> img	{ top: -15500%; }
.icon.icon-rightcircle.outline-dark		> img	{ top: -15600%; }
.icon.icon-rightcircle.outline-light	> img	{ top: -15700%; }
.icon.icon-rightcircle.fill-dark		> img	{ top: -15800%; }
.icon.icon-rightcircle.fill-light		> img	{ top: -15900%; }

.icon.icon-downcircle					> img	{ top: -16000%; }
.icon.icon-downcircle.outline-dark		> img	{ top: -16100%; }
.icon.icon-downcircle.outline-light		> img	{ top: -16200%; }
.icon.icon-downcircle.fill-dark			> img	{ top: -16300%; }
.icon.icon-downcircle.fill-light		> img	{ top: -16400%; }

.icon.icon-smile						> img	{ top: -16500%; }
.icon.icon-smile.outline-dark			> img	{ top: -16600%; }
.icon.icon-smile.outline-light			> img	{ top: -16700%; }
.icon.icon-smile.fill-dark				> img	{ top: -16800%; }
.icon.icon-smile.fill-light				> img	{ top: -16900%; }

.icon.icon-tick							> img	{ top: -17000%; }
.icon.icon-tick.outline-dark			> img	{ top: -17100%; }
.icon.icon-tick.outline-light			> img	{ top: -17200%; }
.icon.icon-tick.fill-dark				> img	{ top: -17300%; }
.icon.icon-tick.fill-light				> img	{ top: -17400%; }

.icon.icon-search						> img	{ top: -17500%; }
.icon.icon-search.outline-dark			> img	{ top: -17600%; }
.icon.icon-search.outline-light			> img	{ top: -17700%; }
.icon.icon-search.fill-dark				> img	{ top: -17800%; }
.icon.icon-search.fill-light			> img	{ top: -17900%; }

.icon.icon-badge						> img	{ top: -18000%; }
.icon.icon-badge.outline-dark			> img	{ top: -18100%; }
.icon.icon-badge.outline-light			> img	{ top: -18200%; }
.icon.icon-badge.fill-dark				> img	{ top: -18300%; }
.icon.icon-badge.fill-light				> img	{ top: -18400%; }

.icon.icon-projects						> img	{ top: -18500%; }
.icon.icon-projects.outline-dark		> img	{ top: -18600%; }
.icon.icon-projects.outline-light		> img	{ top: -18700%; }
.icon.icon-projects.fill-dark			> img	{ top: -18800%; }
.icon.icon-projects.fill-light			> img	{ top: -18900%; }
.icon.icon-works						> img	{ top: -18500%; }
.icon.icon-works.outline-dark			> img	{ top: -18600%; }
.icon.icon-works.outline-light			> img	{ top: -18700%; }
.icon.icon-works.fill-dark				> img	{ top: -18800%; }
.icon.icon-works.fill-light				> img	{ top: -18900%; }

.icon.icon-staff						> img	{ top: -19000%; }
.icon.icon-staff.outline-dark			> img	{ top: -19100%; }
.icon.icon-staff.outline-light			> img	{ top: -19200%; }
.icon.icon-staff.fill-dark				> img	{ top: -19300%; }
.icon.icon-staff.fill-light				> img	{ top: -19400%; }
.icon.icon-the-team						> img	{ top: -19000%; }
.icon.icon-the-team.outline-dark		> img	{ top: -19100%; }
.icon.icon-the-team.outline-light		> img	{ top: -19200%; }
.icon.icon-the-team.fill-dark			> img	{ top: -19300%; }
.icon.icon-the-team.fill-light			> img	{ top: -19400%; }
.icon.icon-team							> img	{ top: -19000%; }
.icon.icon-team.outline-dark			> img	{ top: -19100%; }
.icon.icon-team.outline-light			> img	{ top: -19200%; }
.icon.icon-team.fill-dark				> img	{ top: -19300%; }
.icon.icon-team.fill-light				> img	{ top: -19400%; }

.icon.icon-help							> img	{ top: -19500%; }
.icon.icon-help.outline-dark			> img	{ top: -19600%; }
.icon.icon-help.outline-light			> img	{ top: -19700%; }
.icon.icon-help.fill-dark				> img	{ top: -19800%; }
.icon.icon-help.fill-light				> img	{ top: -19900%; }

.std-pd
{
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.row.std-pd
{
	margin-left: -5px !important;
	margin-right: -5px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.dbl-pd
{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.row.dbl-pd
{
	margin-left: -15px !important;
	margin-right: -15px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.spesh-pd
{
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.row.spesh-pd
{
	margin-left: -10px !important;
	margin-right: -10px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.pos-rel
{
	position: relative;
}

.block
{
	display: block;
}

.word-wrap
{
	word-wrap: break-word;
}
	
.clr-min-width
{
	min-width: 0px !important;
}

.clr-max-width
{
	min-width: 100% !important;
}

.upper
{
	text-transform: uppercase !important;
}

.txt-center
{
	text-align: center;
}
.txt-left
{
	text-align: left;
}
.txt-right
{
	text-align: right;
}
.txt-bold
{
	font-weight:bold;
}
.border-none 
{
	border:0px;
}
.center-block
{
	float: none !important;
}
.list-none
{
	list-style: none !important;
}

.superscript
{
	vertical-align: text-top;
	font-size: 0.5em;
	font-family: inherit;
	color: inherit;
	font-style: normal;
}

.pos-top-right
{
	position: absolute;
	z-index: 10;
	top: 0px;
	right: 0px;
}

.even-row
{
	background-color: #ffffff;
}

.odd-row
{
	background-color: #eeeeee;
}

.auto-height
{
	height: auto;
}

.image-center
{
	position: relative;
	display: block;
	height: 0px;
	overflow: hidden;
	padding-bottom: 48%;
}

.image-center > img
{
	position: absolute;
	display: block;
	top: -50%;
	right: -50%;
	bottom: -50%;
	left: -50%;
	margin: auto;
	height: auto;
	width: 100% !important;
}

.image-center.byheight > img
{
	height: 100% !important;
	width: auto !important;
}

.wrapper
{
	position: relative;
	display: block;
}

.img-responsive.stretch
{
	width: 100%;
}

.hover-swap .show-hover-on
{
	display: none !important;
}

.hover-swap .show-hover-off
{
	display: block !important;
}

.hover-swap .show-hover-off.inline
{
	display: inline !important;
}

.hover-swap:hover .show-hover-on
{
	display: block !important;
}

.hover-swap:hover .show-hover-on.inline
{
	display: inline !important;
}

.hover-swap:hover .show-hover-off
{
	display: none !important;
}

.cursor 
{
	cursor:pointer;
}

.tab-content
{
	display: none;
}

.tab-content:first-child
{
	display: block;
}

.tab-link
{
	border: 1px solid #cccccc;
	text-align:center;
	background-color:#F0F0F0;
	margin-left: -1px;
	position: relative;
	z-index: 1;
	color: #555555;
}

.tab-link:hover
{
	color: #555555;
}

.tab-link.active
{
	border-bottom: 1px solid #ffffff;
	background-color: #ffffff;
}

.tab-link-remainder
{
	border-bottom: 1px solid #cccccc;
}

.tab-link-divider
{
	margin-top: -1px;
	position: relative;
	z-index: 0;
	border-top: 1px solid #cccccc;
}

.new-image-box
{
	overflow: hidden;
}

/* #### COLOUR #### */

.client-specific-colour
{
	background-color: #ffffff;
}

.bg-white { background-color: #ffffff !important; }
.bg-black { background-color: #000000 !important; }
.bg-yellow { background-color: #FFD755 !important; }
.bg-blue { background-color: #002e50 !important; }
.bg-light-blue { background-color: #45A3E2 !important; }
.bg-grey { background-color: #e0e0e0 !important; }
.bg-dark-grey { background-color: #555555 !important; }
.bg-middle-grey {background-color:#F0F0F0 !important;}
.bg-seagreen { background-color: #00C29C !important;}
.bg-red { background-color: #EA6153 !important;}
.bg-light-grey { background-color: #F8F8F8 !important; }
.bg-light-grey-two { background-color: #F8F8F8 !important; }
.bg-none { background-color: transparent !important; }

.txt-white,
.txt-white.inherit *
{ color: #ffffff !important; }

.txt-black,
.txt-black.inherit *
{ color: #111111 !important; }

.txt-red,
.txt-red.inherit *
{ color: #ff0000 !important; }

.txt-grey,
.txt-grey.inherit *
{ color: #555555 !important; }

*:focus 
{ outline: 0; }

.rnd-box
{
	-o-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.drop-shadow
{
	-o-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}

#notifications
{
	display: none;
}

.not-logged-in #notifications
{
	text-align: center;
	float: none;
	width: 100%;
}

.not-logged-in #notifications #info-box
{
	display: inline-block;
	margin: auto;
}

#notifications
{
	float: left;
	width: 50%;
}

#notifications div,
#notifications span,
#notifications p
{
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}

#notifications .symbol,
#notifications .message
{
	float: left;
	vertical-align: middle;
}

#notifications .message p
{
	margin-top: 8px;
	margin-left: 8px;
}

#notifications .additional
{
	display: none;
	position: absolute;
	top: 100px;
	left: 0px;
	right: 0px;
	margin: auto;
}

#notifications .additional .wrapper
{
	margin-top: 10px;
	padding: 12px 35px 10px 15px;
	background-color: #222222;
	background-color: rgba(38,38,38,0.9);
	float: left;
	position: relative;
	z-index: 100;
}

#notifications .additional .wrapper > a
{
	position: absolute;
	top: -6px;
	right: -6px;
	z-index: 10;
	display: block;
	float: left;
	background-color: #555555;
	border-radius: 100% !important;
	padding: 1px 4px 0px 4px;
}

#notifications .additional .wrapper p
{
	margin-top: 10px;
}

#notifications .additional .wrapper p:first-child
{
	margin-top: 0px;
}

#notifications .symbol > img,
#notifications .notification-close
{
	vertical-align: middle;
	display: none;
}

#notifications .info .symbol > img.symbol-info,
#notifications .error .symbol > img.symbol-error,
#notifications .success .symbol > img.symbol-success
{
	display: block;
}

#help-contact
{
	display: none;
}

html, body
{
	background-color: #ffffff;
	min-height: 100%;
	height: 100%;
}

/*body
{
	overflow-y: scroll;
}*/

body, h1, h2, h3, h4, h5, h6, span, p, input, ul, li, a, span, label, select, textarea, div, button
{
	font-family:'Gotham Book', arial, helvetica, sans-serif;
	font-weight: normal;
	letter-spacing: 0px; 
	line-height: 1.4;
	font-size: 16px;
	color: #555555;
	margin: 0px;
	padding: 0px;
	border-radius:0px !important;
	/*-webkit-font-smoothing: antialiased;*/
	/*-webkit-font-smoothing: subpixel-antialiased;*/
	/*-webkit-transform: translateZ(0);*/
}

h1, h2, h3, h4, h5, h6
{
	font-family:"Gotham Book", arial, helvetica, sans-serif;
	font-weight: normal;
	letter-spacing: 0px; 
	margin: 0px;
}

strong,
strong *
{
	font-family:"Gotham Bold", arial, helvetica, sans-serif;
	font-weight: normal !important;
	letter-spacing: 0px; 
}

label
{	
	cursor: pointer;
	font-weight: normal;
}

input,
select,
textarea
{
	font-family:'Gotham Book', arial, helvetica, sans-serif !important;  
}

a
{
	color: inherit;
	font-size: inherit;
	font-family: inherit;
}	

a:hover,
a:focus
{
	text-decoration: none;
	outline: none;
}

p
{
	margin-top: 10px;
	vertical-align: middle;
}

#header, #main, #footer, section, article
{
	display: block;
	position: relative;
}

.txt-light
{
	font-family:'Gotham Light', arial, helvetica, sans-serif !important;  
	font-weight: normal;
	letter-spacing: 0px; 
}

.txt-book
{
	font-family:'Gotham Book', arial, helvetica, sans-serif !important; 
	font-weight: normal;
	letter-spacing: 0px; 
}

.txt-medium
{
	font-family:'Gotham Medium', arial, helvetica, sans-serif !important;  
	font-weight: normal;
	letter-spacing: 0px; 
}

.txt-bold
{
	font-family:'Gotham Bold', arial, helvetica, sans-serif !important;  
	font-weight: normal;
	letter-spacing: 0px; 
}

input[type=password],
input[type=number],
input[type=text],
input[type=email],
textarea,
label,
.input
{
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	-o-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	font-weight: normal;
	vertical-align: middle;
	text-align: left;
	border: 1px solid #dddddd;
	-o-box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-webkit-font-smoothing: antialiased;
	height: 2em;
	padding: 0.25em 0.5em 0.25em 0.5em;
	background-color: #ffffff;
	font-size: 1em;
	width: 100%;
}

select
{
	-o-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	font-weight: normal;
	vertical-align: middle;
	text-align: left;
	border: 1px solid #dddddd;
	-o-box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	-webkit-font-smoothing: antialiased;
	height: 2em;
	padding: 0.25em 0.5em 0.25em 0.5em;
	background-color: #ffffff;
	font-size: 1em;
	width: 100%;
}

.full-ck
{
	margin-bottom: 1em;
}

label
{
	border-color: transparent;
	padding-left: 0px;
	padding-right: 0px;
	width: auto;
	margin-bottom: 0px;
	background-color: transparent !important;
}
.input
{
	display: block;
}

input[type=file]
{
	-o-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-o-border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: none;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	vertical-align: middle;
	text-align: left;
	border:0px solid #cdcdcd !important;
	box-shadow:none;
}

input[type=file]:active
{
	box-shadow:none;
}

button { }

.button { }

.custom-checkbox
{
	vertical-align: middle;
	-webkit-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
}

.custom-checkbox input
{
	display: none;
	width: 10px;
}

.custom-checkbox .circle
{
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	vertical-align: middle;
	border: 2px solid #cccccc;
	background-color: #ffffff;
	-o-border-radius: 100% !important;
	-moz-border-radius: 100% !important;
	-webkit-border-radius: 100% !important;
	border-radius: 100% !important;
	margin-right: 0.5em;
	position: relative;
}

.custom-checkbox .circle > i
{
	display: none;
	position: absolute;
	height: 100%;
	width: 50%;
	margin: auto;
	top: -4px;
	right: 2px;
	bottom: auto;
	left: auto;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 5px solid #00C29C;
	border-top: none;
	border-left: none;
	-o-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	-webkit-transform: rotate(40deg);
	transform: rotate(40deg);
}

.custom-checkbox .text
{
	font-size: inherit;
}

.custom-checkbox input[type=checkbox]:checked + .circle > i
{
	display: block;
}

.custom-checkbox input[type=radio]:checked + .circle > i
{
	display: block;
}

input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus
{
	-o-box-shadow: 0px 0px 1px 1px #00C29C inset;
	-moz-box-shadow: 0px 0px 1px 1px #00C29C inset;
	-webkit-box-shadow: 0px 0px 1px 1px #00C29C inset;
	box-shadow: 0px 0px 1px 1px #00C29C inset;
}

::-webkit-input-placeholder { color: #333333; }
:-moz-placeholder { color: #333333; }
::-moz-placeholder { color: #333333; }
:-ms-input-placeholder { color: #333333; }

textarea
{
	min-height: 5.1em;
}

select
{
	text-indent: 0.01px;
	text-overflow: '';
/*	background-image: url('/assets/images/icon-dropdown-blue-small.png');*/
	background-position: 98% center;
	background-repeat: no-repeat;
	  -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
}

select option
{
	color: #333333;
}

select.selection-made
{
	color: #333333;
}

.not-logged-in .sidebar
{
	background-color: transparent;
	z-index: 10;	
}

.not-logged-in .main
{
	margin-left: 0px;
}

.not-logged-in .page-title
{
	display: none;
}

.not-logged-in .header
{
	left: 0px;
}

.container-header
{
	margin-top: 40px;
}

.sidebar
{
	background-color: #ffffff;
	position: absolute;
	top: 0px;
	left: 0px;
	min-height: 100%;
}

.header
{
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #222222;
}

.header .page-title.txt-responsive-xxxl.txt-light 
{
	color: #EEEEEE !important;
}

.sidebar .sidebar-logo,
.header
{
	height: 100px;
}

.header #quick-nav
{
	float: left;
	width: 100%;
}

.header #quick-nav li
{
	float: left;
	list-style: none;
	margin-left: 25px;
}

.header #quick-nav li.has-submenu
{
	position: relative;
}

.header #quick-nav li.has-submenu .submenu
{
	display: none;
	position: absolute;
	width: 200px;
	top: 100%;
	left: 50%;
	margin-left: -100px;
	padding-top: 20px;
	z-index: 101;
}

.header #quick-nav li.has-submenu .submenu.profile-menu
{
	display: none;
	position: absolute;
	width: 260px;
	top: 100%;
	left: 50%;
	margin-left: -130px;
	padding-top: 20px;
	z-index: 101;
}

.header #quick-nav li.has-submenu:hover .submenu
{
	display: block;
}

.header #quick-nav li.has-submenu:hover .submenu .inner
{
	box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
	background-color: #eeeeee;
	position: relative;
}

.header #quick-nav li.has-submenu .submenu .inner:before
{
	content: "";
	position: absolute;
	display: block;
	border-bottom: 10px inset #eeeeee;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	top: -10px;
	left: 50%;
	margin-left: -12px;
}

.header #quick-nav li.has-submenu .submenu.profile-menu .inner:before
{
	content: "";
	position: absolute;
	display: block;
	border-bottom: 10px inset #ffffff;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	top: -10px;
	left: 0;
	margin-left: 14px;
}

.header #quick-nav li.has-submenu .submenu li
{
	float: none;
	margin-left: 0px;
}

.header #quick-nav li.has-submenu .submenu li a
{
	display: block;
	text-align: center;
	padding: 8px 8px 6px 8px;
	color: #555555;
}

.header #quick-nav li.has-submenu .submenu li a:hover
{
	background-color: #dddddd;
	color: #555555;
}


.header #quick-nav li.has-submenu .submenu.profile-menu li a
{
	display: block;
	padding: 0;
	color: #555555;
	text-align: left;
}

.header #quick-nav li.has-submenu .submenu.profile-menu li a.sign-out
{
	text-align: center;
}

.header #quick-nav li.has-submenu .submenu.profile-menu li a:hover
{
	background-color: transparent;
	color: #555555;
}

.sidebar
{
	width: 200px;
}

.sidebar .sidebar-logo
{
	position: relative;
/*	background-color: #eeeeee;*/
}

.sidebar .sidebar-logo a
{
	display: block;
	position: absolute;
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
/*	background-color: #ffffff;*/
	padding: 5px;

}

.sidebar .sidebar-logo a img
{
	position: absolute;
	display: block;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	width: auto;
}

.sidebar .sidebar-logo a.byheight img
{
	width: auto;
	height: 100%;
}

.header
{
	left: 200px; /* match to sidebar width */
}

.main
{
	background-color: #eeeeee;
	margin-left: 200px;  /* match to sidebar width */
	margin-top: 0px;
	padding-top: 100px; /* match to header height */
	padding-bottom: 50px;
	min-height: 100%;
	border-left: 1px solid #cccccc;
}

.sidebar .sidebar-logo .wrapper
{
	padding: 20px;
}

.sidebar .sidebar-menu ul
{
	padding: 0px;
	margin: 0px;
}

.sidebar .sidebar-menu > ul
{
	border-top: 1px solid #cccccc;
}

.sidebar .sidebar-menu > ul > li
{
	border-bottom: 1px solid #cccccc;
}

.sidebar .sidebar-menu > ul > li > a
{
	display: block;
	margin: 0px;
	padding: 15px 20px 15px 20px;
}

.sidebar .sidebar-menu ul li
{
	padding: 0px;
	margin: 0px;
	display: block;
	list-style: none;
	font-size: 14px;
	line-height: 1.5;
}

.sidebar .sidebar-menu .icon
{
	margin-right: 5px;
}

.sidebar .sidebar-menu .submenu
{
	background-color: #eeeeee;
	height: 0px;
	overflow: hidden;
}

.sidebar .sidebar-menu .has-submenu.open > .submenu
{
	height: auto;
	overflow: visible;
}

.sidebar .sidebar-menu .submenu li
{
	border-top: 1px solid #f5f5f5;
}

.sidebar .sidebar-menu .submenu li:first-child
{
	border-top: none;
}

.sidebar .sidebar-menu .submenu li a
{
	display: block;
	margin: 0px;
	padding: 10px 10px 10px 20px;
}

.sidebar .sidebar-menu a
{
	color: #666666;
}

.sidebar .sidebar-menu .submenu a
{
	color: #888888;
}

.sidebar .sidebar-menu a:hover
{
	color: #333333;
}

.sidebar .sidebar-menu a:hover .icon > img
{
	margin-top: -100%;
}

.sidebar .sidebar-menu li.active
{
	background-color: #cccccc;
}

.sidebar .sidebar-menu li.active > a 
{
	color: #333333;
}

.sidebar .sidebar-menu li.active > a > .icon > img
{
	margin-top: -300%;
}

.login-form
{
	box-shadow: 2px 2px 3px rgba(64,64,64,0.15);
}

.login-form input
{
	border: 1px solid #cdcdcd;
}

.login-form button
{
	text-align: center;
}

.login-form ::-webkit-input-placeholder { text-align: center; }
.login-form :-moz-placeholder { text-align: center; }
.login-form ::-moz-placeholder { text-align: center; }
.login-form :-ms-input-placeholder { text-align: center; }


.login-form .login-icon
{
	max-width: 90px;
	text-align: center;
	display: inline;
}

.login-form input.username
{
	background: #ffffff url('/assets/admin/images/icon-username-small.png') no-repeat 97% center;
	height: 2.3em;
	padding: 0.4em 2em 0.4em 0.5em;
	border-color: #dddddd;
}

.login-form input.password
{
	background: #ffffff url('/assets/admin/images/icon-password-small.png') no-repeat 97% center;
	height: 2.3em;
	padding: 0.4em 2em 0.4em 0.5em;
	border-color: #dddddd;
}

.login-form label[for=username],
.login-form label[for=password]
{
	padding-top: 0.55em;
}

.sub-pages-show
{
	vertical-align: baseline;
	cursor: pointer;
}

.stop-ordering
{
	display: none;
}

.manage-list-labels > div
{
	min-width: 5em;
	text-align: center;
}

.manage-list .item-child
{
	border: 1px solid #dddddd;
}

.checkbox-list.manage-list .item-child
{
	border: 1px solid transparent;
}

.manage-list.allow-sort .item-child
{
	border: 1px dashed #eeeeee;
}

.manage-list.sub-pages
{
	display: none;	
}

.demo-url
{
	word-break: break-all;
}

.form-control.disabled.auto-overflow
{
	height:auto;
}

.action-buttons
{
	position: relative;
	z-index: 99;
}

.button
{
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
}

.action-buttons .text
{
	vertical-align: -6%;
	color: inherit !important;
	font-size: inherit !important;
	font-family: inherit !important;
	text-decoration: inherit !important;
	text-transform: inherit !important;
	font-weight: inherit !important;
}

.action-buttons a,
.action-buttons button,
.action-buttons button > span.text
{
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	outline: none;
	font-weight: normal !important;
	font-family:'Gotham Book', arial, helvetica, sans-serif !important; 
}

.action-button .text
{
	vertical-align: -6%;
	-o-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	outline: none;
	font-weight: normal !important;
	font-family:'Gotham Book', arial, helvetica, sans-serif !important; 
	color: #ffffff;
}

.icon + .text
{
	vertical-align: -6%;
	font-size: inherit;
	color: inherit;
}

.indent-me {
	margin-left:15px;
}

.manage-list.allow-sort .item-child
{
	animation: highlight 1s ease-in-out infinite alternate;
	-ms-animation: highlight 1s ease-in-out infinite alternate;
	-webkit-animation: highlight 1s ease-in-out infinite alternate;
	-o-animation: highlight 1s ease-in-out infinite alternate;
	-moz-animation: highlight 1s ease-in-out infinite alternate;

}

@-webkit-keyframes highlight {
  from {
	border-style: dashed;
	border-width: 1px;
	border-color: #eeeeee;
  }
  to {
	border-style: dashed;
	border-width: 1px;
	border-color: #555555;
  }
}

@keyframes highlight {
  from {
	border-style: dashed;
	border-width: 1px;
	border-color: #eeeeee;
  }
  to {
	border-style: dashed;
	border-width: 1px;
	border-color: #555555;
  }
}

body.popup .col-sm-60 { float: left; width: 100%; }
body.popup .col-sm-59 { float: left; width: 98.33333333333333%; }
body.popup .col-sm-58 { float: left; width: 96.66666666666667%; }
body.popup .col-sm-57 { float: left; width: 95%; }
body.popup .col-sm-56 { float: left; width: 93.33333333333333%; }
body.popup .col-sm-55 { float: left; width: 91.66666666666666%; }
body.popup .col-sm-54 { float: left; width: 90%; }
body.popup .col-sm-53 { float: left; width: 88.33333333333333%; }
body.popup .col-sm-52 { float: left; width: 86.66666666666667%; }
body.popup .col-sm-51 { float: left; width: 85%; }
body.popup .col-sm-50 { float: left; width: 83.33333333333334%; }
body.popup .col-sm-49 { float: left; width: 81.66666666666667%; }
body.popup .col-sm-48 { float: left; width: 80%; }
body.popup .col-sm-47 { float: left; width: 78.33333333333333%; }
body.popup .col-sm-46 { float: left; width: 76.66666666666667%; }
body.popup .col-sm-45 { float: left; width: 75%; }
body.popup .col-sm-44 { float: left; width: 73.33333333333333%; }
body.popup .col-sm-43 { float: left; width: 71.66666666666667%; }
body.popup .col-sm-42 { float: left; width: 70%; }
body.popup .col-sm-41 { float: left; width: 68.33333333333333%; }
body.popup .col-sm-40 { float: left; width: 66.66666666666666%; }
body.popup .col-sm-39 { float: left; width: 65%; }
body.popup .col-sm-38 { float: left; width: 63.33333333333333%; }
body.popup .col-sm-37 { float: left; width: 61.66666666666667%; }
body.popup .col-sm-36 { float: left; width: 60%; }
body.popup .col-sm-35 { float: left; width: 58.333333333333336%; }
body.popup .col-sm-34 { float: left; width: 56.666666666666664%; }
body.popup .col-sm-33 { float: left; width: 55.00000000000001%; }
body.popup .col-sm-32 { float: left; width: 53.333333333333336%; }
body.popup .col-sm-31 { float: left; width: 51.66666666666667%; }
body.popup .col-sm-30 { float: left; width: 50%; }
body.popup .col-sm-29 { float: left; width: 48.333333333333336%; }
body.popup .col-sm-28 { float: left; width: 46.666666666666664%; }
body.popup .col-sm-27 { float: left; width: 45%; }
body.popup .col-sm-26 { float: left; width: 43.333333333333336%; }
body.popup .col-sm-25 { float: left; width: 41.66666666666667%; }
body.popup .col-sm-24 { float: left; width: 40%; }
body.popup .col-sm-23 { float: left; width: 38.333333333333336%; }
body.popup .col-sm-22 { float: left; width: 36.666666666666664%; }
body.popup .col-sm-21 { float: left; width: 35%; }
body.popup .col-sm-20 { float: left; width: 33.33333333333333%; }
body.popup .col-sm-19 { float: left; width: 31.666666666666664%; }
body.popup .col-sm-bg18 { float: left; width: 30%; }
body.popup .col-sm-17 { float: left; width: 28.333333333333332%; }
body.popup .col-sm-16 { float: left; width: 26.666666666666668%; }
body.popup .col-sm-15 { float: left; width: 25%; }
body.popup .col-sm-14 { float: left; width: 23.333333333333332%; }
body.popup .col-sm-13 { float: left; width: 21.666666666666668%; }
body.popup .col-sm-12 { float: left; width: 20%; }
body.popup .col-sm-11 { float: left; width: 18.333333333333332%; }
body.popup .col-sm-10 { float: left; width: 16.666666666666664%; }
body.popup .col-sm-9 { float: left; width: 15%; }
body.popup .col-sm-8 { float: left; width: 13.333333333333334%; }
body.popup .col-sm-7 { float: left; width: 11.666666666666666%; }
body.popup .col-sm-6 { float: left; width: 10%; }
body.popup .col-sm-5 { float: left; width: 8.333333333333332%; }
body.popup .col-sm-4 { float: left; width: 6.666666666666667%; }
body.popup .col-sm-3 { float: left; width: 5%; }
body.popup .col-sm-2 { float: left; width: 3.3333333333333335%; }
body.popup .col-sm-1 { float: left; width: 1.6666666666666667%; }

body.popup .visible-xs { display: none !important;}
body.popup .hidden-xs { display: block !important;}

body.popup .txt-responsive-xxxs { font-size: 8px !important; }
body.popup .txt-responsive-xxs  { font-size: 12px !important; }
body.popup .txt-responsive-xs   { font-size: 14px !important; }
body.popup .txt-responsive-sm   { font-size: 16px !important; }
body.popup .txt-responsive-md   { font-size: 18px !important; }
body.popup .txt-responsive-lg   { font-size: 20px !important; }
body.popup .txt-responsive-xl   { font-size: 22px !important; }
body.popup .txt-responsive-xxl  { font-size: 25px !important; }
body.popup .txt-responsive-xxxl { font-size: 34px !important; }

/*
.col-xs-
*/


.txt-responsive-xxxs { font-size: 8px !important; }
.txt-responsive-xxs  { font-size: 8px !important; }
.txt-responsive-xs   { font-size: 10px !important; }
.txt-responsive-sm   { font-size: 14px !important; }
.txt-responsive-md   { font-size: 14px !important; }
.txt-responsive-lg   { font-size: 16px !important; }
.txt-responsive-xl   { font-size: 16px !important; }
.txt-responsive-xxl  { font-size: 18px !important; }
.txt-responsive-xxxl { font-size: 20px !important; }
.txt-responsive-descr { font-size: 9px !important; }

/* ESTHER CUSTOM CSS 
.border-top-grey {
	border-top: 1px solid #CCCCCC;
}
.border-top-black {
	border-top: 1px solid #CCCCCC;
}
.border-bottom-black {
	border-bottom: 1px solid #CCCCCC;
}
.border-right-black {
	border-right: 1px solid #CCCCCC;
}
.border-right-black-ht {
	border-right: 0px solid #CCCCCC;
}
.border-right-black-rp {
	border-right: 0px solid #CCCCCC;
}
.border-bottom-grey {
	border-bottom: 1px solid #CCCCCC;
}
.t-a-r {
	text-align: right;
}
.t-a-c-xs {
	text-align: center;
}
.t-a-c-xs-dash {
	text-align: center;
}
.list-none{
	list-style: none !important;
}
.auto-overflow {
	overflow:auto !important;
}
.list-arrow{

}
.check-left {
	margin-left:-2px;
}
.pd-t-title{
	padding-top: 14px !important;
}
.pd-t-estate {
	padding-top: 3px !important;
}
.pd-t-subtitle {
	padding-top: 2px !important;
}
.mg-b-sort {
	margin-bottom:0px !important;	
}
.pd-b-sort {
	margin-bottom:0px !important;	
}
.new-estate {
	margin-left:0px;
	margin-right:5px;
	}
.pd-all-pct {
	margin:10px;
}
.pd-r-nt{
	padding-right:0px !important;
}
.pd-all-pricing {
	padding: 15px 0px 0px 0px !important;
}
.pd-all-rp {
	padding: 15px 0px 0px 0px !important;
}	
.pd-l-thumbrows {
	padding-left:0px;
}
.mg-r-thumb {
	margin-right:0px;
}
.id {
	max-width:100%; 
	display:inline-block; 
	float:left;
}
.id label {
	width:50%; 
	margin-right:25px; 
	margin-left: 2px !important;
}
.indent-me {
	margin-left:40px;
}
.more {
	cursor:pointer;
}
.more:hover {
	cursor:pointer;
	opacity:0.8;
}


.header .page-title .icon
{
	margin-top: -0.4em;
}

.container-header
{
	margin-top: 40px;
}

.account {
	text-align: right;
}
.actions {
	width:35%;
	float:right;
	background-color:blue;
}

.visitors-top {
	margin-top: 0px;
}
.dash-right {
	padding-right:0px !important;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
	float: left !important;
	margin-left: -16px !important;
	width: 32px !important
}
input[type="checkbox"] {
	margin: 0px 0 0;
	line-height: normal;
	box-shadow:none;
}

.delete-selected {
	width:160px; 
	float:right;
}
.sub-pages {
	display:none;
}

input.details-house-type {
	border: 1px solid #CCCCCC !important;
	border-radius:0px !important;
}
input.details-house-type:active {
	border: 1px solid #00BF9B!important;
	box-shadow: 0px 0px 0px 0px black inset !important;
}
input.details-house-type:focus {
	border: 1px solid #00BF9B !important;
	box-shadow: 0px 0px 0px 0px black inset !important;
}
input.switch {
	border: 0px solid transparent !important;
	padding:0px !important;
}
textarea.details-house-type {
	border: 1px solid #CCCCCC !important;
	border-radius:0px !important;
}
textarea.details-house-type:active {
	border: 1px solid #00BF9B!important;
	box-shadow: 0px 0px 0px 0px black inset !important;
}
textarea.details-house-type:focus {
	border: 1px solid #00BF9B !important;
	box-shadow: 0px 0px 0px 0px black inset !important;
}
select.details-house-type {
	border: 1px solid #CCCCCC !important;
	border-radius:0px !important;
}
select.details-house-type:active {
	border: 1px solid #00BF9B!important;
	box-shadow: 0px 0px 0px 0px black inset !important;
}
select.details-house-type:focus {
	border: 1px solid #00BF9B !important;
	box-shadow: 0px 0px 0px 0px black inset !important;
}

input[type="radio"] {
	width:100%;
	height:auto;    
}
select.estate-select {
	border: 1px solid #CCCCCC !important;
	border-radius:0px !important;
}
select.estate-select:active {
	border: 1px solid #00BF9B!important;
	box-shadow: 0px 0px 0px 0px black inset !important;
}
select.estate-select:focus {
	border: 1px solid #00BF9B !important;
	box-shadow: 0px 0px 0px 0px black inset !important;
}

.parent-buttons button {
	background-color: transparent;
	border: none !important;
}
.parent-buttons-white:hover {
	background-color: #555555 !important;
	color:white !important;
	cursor:pointer;
}
.parent-buttons-white:hover button,
.parent-buttons-white:hover a {
	background-color: #555555;
	color:white !important;
}
.parent-buttons-white:hover img {
	margin-top: -200%;
}
.parent-buttons:hover{
	cursor:pointer;
}
.parent-buttons:hover button,
.parent-buttons:hover a {
	color: #555555 !important;
}
.parent-buttons:hover img {
	margin-top:200%;
}
.parent-buttons-grey:hover img {
	margin-top:-100%;
}
.estate-select {
	width:40%;
}

.file1 {
	cursor:pointer;
}
.hide-border{
	display:initial;
}
.hide-xs {
	display:block;
}
.hide-xs-dash {
	display:block;
}
.hide-lg {
	display:none;
	}
.hide-lg-dash {
	display:none;
	}
.icon-container > .icon:hover > img {
	margin-top: 200%;
	cursor:pointer;
}

.icon-container:hover >  img {
	margin-top: 200%;
	cursor:pointer;
}
.txt-responsive-notice {
   	font-size:12px;
   }		
.no-right-margin {
	margin-right: 0px !important;
}
.pd-t-related {
	padding-top:5px;
}
.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555555;
vertical-align: middle;
background-color: #ffffff;
background-image: none;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
border-radius: 0px !important;
}

 END ESTHER CUSTOM CSS */


@media (max-width: 767px) {
/* col-xs-*/

	.container
	{
		/* add padding on xs res only */
		padding-left: 15px;
		padding-right: 15px;
		width: 520px;
	}

/*	.container-header
	{
		margin-top: 0px;
	}*/

}

@media (min-width: 768px) {
/*	
.col-sm-
*/
	.pd-t-sm-hidden { padding-top: 0 !important; }
	.pd-l-sm-hidden { padding-left: 0 !important; }
	.pd-b-sm-hidden { padding-bottom: 0 !important; }
	.pd-r-sm-hidden { padding-right: 0 !important; }
	.pd-all-sm-hidden { padding: 0 !important; }

	.container {
		/*width: 720px;*/
		width: 520px;
	}

	.sidebar
	{
		width: 210px;
	}

	.header
	{
		left: 210px; /* match to sidebar width */
	}

	.main
	{
		margin-left: 210px; /* match to sidebar width */
	}

	.sidebar-menu li,
	.sidebar-menu li > a,
	.sidebar-menu li > a > span
	{
		font-size: 12px;
	}

	.sidebar-menu .submenu li,
	.sidebar-menu .submenu li > a,
	.sidebar-menu .submenu li > a > span
	{
		font-size: 12px;
	}

	label,
	input,
	.input,
	.label
	{
		font-size: 14px !important;
	}

	.txt-responsive-xxxs { font-size: 8px !important; }
	.txt-responsive-xxs  { font-size: 10px !important; }
	.txt-responsive-xs   { font-size: 12px !important; }
	.txt-responsive-sm   { font-size: 14px !important; }
	.txt-responsive-md   { font-size: 16px !important; }
	.txt-responsive-lg   { font-size: 18px !important; }
	.txt-responsive-xl   { font-size: 20px !important; }
	.txt-responsive-xxl  { font-size: 23px !important; }
	.txt-responsive-xxxl { font-size: 32px !important; }

}

@media (min-width: 992px) {
/*	
.col-md-
*/
	.pd-t-md-hidden { padding-top: 0 !important; }
	.pd-l-md-hidden { padding-left: 0 !important; }
	.pd-b-md-hidden { padding-bottom: 0 !important; }
	.pd-r-md-hidden { padding-right: 0 !important; }
	.pd-all-md-hidden { padding: 0 !important; }
	
	.container {
		/*width: 768px;*/
		width: 715px;
	}

	.sidebar
	{
		width: 225px;
	}

	.header
	{
		left: 225px; /* match to sidebar width */
	}

	.main
	{
		margin-left: 225px; /* match to sidebar width */
	}

	.sidebar-menu li,
	.sidebar-menu li > a,
	.sidebar-menu li > a > span
	{
		font-size: 13px;
	}

	.sidebar-menu .submenu li,
	.sidebar-menu .submenu li > a,
	.sidebar-menu .submenu li > a > span
	{
		font-size: 13px;
	}

	label,
	input,
	.input,
	.label
	{
		font-size: 14px !important;
	}

	.txt-responsive-xxxs { font-size: 8px !important; }
	.txt-responsive-xxs  { font-size: 12px !important; }
	.txt-responsive-xs   { font-size: 14px !important; }
	.txt-responsive-sm   { font-size: 14px !important; }
	.txt-responsive-md   { font-size: 18px !important; }
	.txt-responsive-lg   { font-size: 20px !important; }
	.txt-responsive-xl   { font-size: 22px !important; }
	.txt-responsive-xxl  { font-size: 25px !important; }
	.txt-responsive-xxxl { font-size: 34px !important; }

}

@media (min-width: 1200px) {
/*	
.col-lg-
*/

	.container
	{
		/*width: 1170px;*/
		width: 945px;
	}

	.sidebar
	{
		width: 225px;
	}

	.header
	{
		left: 225px; /* match to sidebar width */
	}

	.main
	{
		margin-left: 225px; /* match to sidebar width */
	}

	.sidebar-menu li,
	.sidebar-menu li > a,
	.sidebar-menu li > a > span
	{
		font-size: 14px;
	}

	.sidebar-menu .submenu li,
	.sidebar-menu .submenu li > a,
	.sidebar-menu .submenu li > a > span
	{
		font-size: 14px;
	}

	label,
	input,
	.input,
	.label
	{
		font-size: 16px !important;
	}

	.txt-responsive-xxxs { font-size: 8px !important; }
	.txt-responsive-xxs  { font-size: 12px !important; }
	.txt-responsive-xs   { font-size: 14px !important; }
	.txt-responsive-sm   { font-size: 16px !important; }
	.txt-responsive-md   { font-size: 18px !important; }
	.txt-responsive-lg   { font-size: 20px !important; }
	.txt-responsive-xl   { font-size: 22px !important; }
	.txt-responsive-xxl  { font-size: 25px !important; }
	.txt-responsive-xxxl { font-size: 34px !important; }
	.txt-responsive-descr { font-size: 13px !important; }

}

@media (min-width: 1600px) { 
	.container
	{
		width: 1170px;
	}
}

/* dirty moz 3 hack because of the stupid inability to style selects in any usable fashion */

@-moz-document url-prefix() 
{ 
  select 
  {
	background: none;
  }
}

/* Standard margins */

.margin-top-small		{ margin-top:		5px !important; }
.margin-bottom-small	{ margin-bottom:	5px !important; }
.margin-left-small		{ margin-left:		5px !important; }
.margin-right-small		{ margin-right:		5px !important; }
.margin-top-medium		{ margin-top:		10px !important; }
.margin-bottom-medium	{ margin-bottom:	10px !important; }
.margin-left-medium		{ margin-left:		10px !important; }
.margin-right-medium	{ margin-right:		10px !important; }
.margin-top-large		{ margin-top:		20px !important; }
.margin-bottom-large	{ margin-bottom:	20px !important; }
.margin-left-large		{ margin-left:		20px !important; }
.margin-right-large		{ margin-right:		20px !important; }

.padding-top-small		{ padding-top:		5px !important; }
.padding-bottom-small	{ padding-bottom:	5px !important; }
.padding-left-small		{ padding-left:		5px !important; }
.padding-right-small	{ padding-right:	5px !important; }
.padding-top-medium		{ padding-top:		10px !important; }
.padding-bottom-medium	{ padding-bottom:	10px !important; }
.padding-left-medium	{ padding-left:		10px !important; }
.padding-right-medium	{ padding-right:	10px !important; }
.padding-top-large		{ padding-top:		20px !important; }
.padding-bottom-large	{ padding-bottom:	20px !important; }
.padding-left-large		{ padding-left:		20px !important; }
.padding-right-large	{ padding-right:	20px !important; }


.loader {
	display: none;
	/*position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #cccccc;*/
	/*background: url('../images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);*/
}

.validation-error {
	border: 1px solid #ff0000 !important;
    background-color: #ffeeee !important;
    -webkit-box-shadow: 0 0px 4px -1px #ff0000 !important;
	box-shadow: 0 0px 4px -1px #ff0000 !important;
}


/* CKEDITOR CUSTOM CSS IS IN /ASSETS/ADMIN/CKEDITOR/CONTENTS.CSS */


/* CKEDITOR CUSTOM CSS IS IN /ASSETS/ADMIN/CKEDITOR/CONTENTS.CSS */
.dataTables_wrapper {
	padding-top: 1em;
}
.dataTables_wrapper .dataTables_length select {
	height: auto;
	width: auto;
}

.lead-table__link {
	text-decoration: underline;
}
