/* Global Styles*/
/*COLORS*/
@font-face {
  font-family: 'M PLUS 1p', sans-serif; }

* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%;
  font-family: 'M PLUS 1p', sans-serif; }

h1 {
  line-height: 20px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 24px; }

a {
  color: #808080;
  cursor: pointer;
  outline: 0;
  transition: all 0.5s;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

img {
  width: 100%; }

.main-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; }

.head-wrapper {
  height: 135px;
  width: 990px;
  margin: 0 auto; }

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  margin: 0 auto; }
  .wrapper.fixed {
    position: absolute;
    height: 100px;
    margin-top: -80px;
    z-index: 9; }

.body-wrapper {
  width: 880px;
  margin: 0 auto; }

/*HEADER*/
header {
  width: 990px;
  margin: 0 auto; }

/************************************************/
/****************** NAVIGATION ******************/
/************************************************/
nav ul {
  padding: 0;
  margin: 0; }
  nav ul li {
    float: left;
    list-style: none; }
    nav ul li a {
      display: block;
      padding: 5px 10px;
      color: #000; }

section {
  width: 100%;
  display: table; }
  section h2 {
    text-align: left;
    font-size: 74px;
    line-height: 57px;
    margin: 0;
    text-transform: uppercase; }
  section .subheading {
    margin-top: 15px;
    font-size: 16px; }
  section .float-title {
    top: 0;
    height: 80px;
    position: absolute;
    margin-top: -25px;
    width: 435px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url(../images/slant.svg); }
    section .float-title.greeting {
      width: 500px; }

.left {
  float: left; }

.textleft {
  text-align: left; }

.col {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px; }

.col-2 {
  width: 20%; }

.col-3 {
  width: 30%; }

.col-33 {
  width: 33%; }

.col-4 {
  width: 40%; }

.col-5 {
  width: 50%; }

.col-6 {
  width: 60%; }

.col-7 {
  width: 70%; }

.col-8 {
  width: 80%; }

/*# sourceMappingURL=../maps/global.css.map */
