body {
  padding: 0;
  margin: 0px;
  color: #fff;
  background-color: #000; }

a {
  cursor: pointer; }

.animated {
  animation-delay: 1s;
  animation-duration: 2.5s; }

.main-wrapper {
  height: 100%;
  position: relative;
  display: table;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto; }
  .main-wrapper .left, .main-wrapper .right {
    width: 50%; }
  .main-wrapper #notifications {
    display: none !important; }
  .main-wrapper .validation-error {
    width: 100%;
    padding: 10px;
    display: none;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: 1px solid red;
    font-family: HelveticaNeue-Light, sans-serif; }
  .main-wrapper .left {
    top: 0;
    left: 0;
    z-index: 8;
    height: 100%;
    position: fixed; }
    .main-wrapper .left .regform-caption, .main-wrapper .left .thankyou-caption {
      font-family: miller-banner, sans-serif;
      position: fixed;
      top: 150px;
      display: none;
      width: 100%;
      color: #fff;
      transition: all 0.5s;
      text-align: center; }
    .main-wrapper .left .regform-caption {
      font-style: normal;
      font-size: 36px;
      text-transform: uppercase; }
      .main-wrapper .left .regform-caption p {
        max-width: 300px;
        margin: 0 auto; }
        .main-wrapper .left .regform-caption p i {
          font-size: 30px;
          margin-left: -30px;
          font-style: italic;
          text-transform: lowercase; }
        .main-wrapper .left .regform-caption p span {
          width: 100%;
          margin-left: 40px; }
    .main-wrapper .left .thankyou-caption {
      font-style: normal;
      font-size: 36px;
      text-transform: uppercase; }
      .main-wrapper .left .thankyou-caption p {
        max-width: 300px;
        margin: 0 auto; }
        .main-wrapper .left .thankyou-caption p i {
          font-size: 30px;
          text-align: center;
          font-style: italic;
          text-transform: lowercase; }
        .main-wrapper .left .thankyou-caption p span {
          width: 100%; }
    .main-wrapper .left .reg-form {
      top: 25%;
      width: 100%;
      height: 100%;
      left: 30%;
      display: none;
      max-width: 50%;
      transition: all 2s;
      position: absolute; }
      .main-wrapper .left .reg-form .blank-space {
        width: 100%;
        height: 320px;
        display: table;
        display: none; }
      .main-wrapper .left .reg-form .validation-error {
        width: 100%;
        padding: 10px;
        display: none;
        border: 1px solid red; }
      .main-wrapper .left .reg-form form {
        width: 100%; }
        .main-wrapper .left .reg-form form .reg-input input {
          width: 100%;
          border: 0;
          color: #fff;
          padding: 10px;
          font-size: 14px;
          line-height: 24px;
          transition: all .5s;
          font-family: HelveticaNeue-Medium, sans-serif;
          background-color: transparent;
          border-bottom: 1px solid #908a8a; }
          .main-wrapper .left .reg-form form .reg-input input[type=submit] {
            width: 100%;
            border: 0;
            color: #fff;
            padding: 10px;
            font-size: 14px;
            line-height: 24px;
            transition: all .5s;
            font-family: HelveticaNeue-Medium, sans-serif;
            background-color: transparent;
            border-bottom: 1px solid #908a8a; }
          .main-wrapper .left .reg-form form .reg-input input::-webkit-input-placeholder, .main-wrapper .left .reg-form form .reg-input input[type=submit]::-webkit-input-placeholder, .main-wrapper .left .reg-form form .reg-input input:-ms-input-placeholder, .main-wrapper .left .reg-form form .reg-input input[type=submit]:-ms-input-placeholder, .main-wrapper .left .reg-form form .reg-input input::placeholder, .main-wrapper .left .reg-form form .reg-input input[type=submit]::placeholder {
            color: #fff; }
        .main-wrapper .left .reg-form form .reg-input select {
          width: 103%;
          border: 0;
          color: #757575;
          padding: 10px;
          height: 45px;
          font-size: 14px;
          border-radius: unset;
          line-height: 24px;
          transition: all .5s;
          background-color: transparent;
          border-bottom: 1px solid #908a8a; }
          .main-wrapper .left .reg-form form .reg-input select option {
            color: #fff;
            outline: 0;
            background-color: #000;
            font-size: 14px;
            font-family: HelveticaNeue-Medium, sans-serif; }
      .main-wrapper .left .reg-form .contact-details {
        color: #fff;
        width: 95%;
        transition: all .5s;
        margin: 30px auto; }
        .main-wrapper .left .reg-form .contact-details .left, .main-wrapper .left .reg-form .contact-details .right {
          float: left;
          height: auto;
          top: unset;
          left: unset;
          position: unset;
          background-image: none; }
        .main-wrapper .left .reg-form .contact-details .left.kay img, .main-wrapper .left .reg-form .contact-details .right.kay img {
          width: 122px;
          height: 17px; }
        .main-wrapper .left .reg-form .contact-details .left {
          width: 60%; }
        .main-wrapper .left .reg-form .contact-details .right {
          width: 40%; }
        .main-wrapper .left .reg-form .contact-details img {
          width: 205px;
          height: 12px;
          clear: both;
          margin-bottom: 20px; }
        .main-wrapper .left .reg-form .contact-details span {
          width: 100%;
          clear: both;
          display: block;
          color: #f3f1f0;
          line-height: 21px;
          font-size: 17px;
          margin-bottom: 10px;
          font-family: HelveticaNeue-Light, sans-serif; }
          .main-wrapper .left .reg-form .contact-details span i {
            font-family: HelveticaNeue-Italic, sans-serif;
            font-style: italic; }
    .main-wrapper .left .success {
      display: none;
      top: 35%;
      width: 100%;
      height: 100%;
      left: 28%;
      max-width: 50%;
      position: absolute; }
      .main-wrapper .left .success p {
        width: 100%;
        height: 90px;
        margin: 0 auto;
        object-fit: contain;
        font-family: HelveticaNeue-Light, sans-serif;
        font-size: 21px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 28px;
        letter-spacing: .7px;
        text-align: center;
        color: #fff; }
      .main-wrapper .left .success .contact-details {
        color: #fff;
        width: 95%;
        max-width: 400px;
        margin: 50px auto; }
        .main-wrapper .left .success .contact-details .left, .main-wrapper .left .success .contact-details .right {
          float: left;
          height: auto;
          top: unset;
          left: unset;
          position: unset;
          background-image: none; }
  .main-wrapper .right, .main-wrapper .right-mobile .bg {
    background-size: cover;
    background-position: center;
    background-image: url(../images/main-banner.png); }
  .main-wrapper .left .success .contact-details .left.kay img, .main-wrapper .left .success .contact-details .right.kay img {
    width: 122px;
    height: 17px; }
  .main-wrapper .left .success .contact-details .left {
    width: 60%; }
  .main-wrapper .left .success .contact-details .right {
    width: 40%; }
  .main-wrapper .left .success .contact-details img {
    width: 205px;
    height: 12px;
    clear: both;
    margin-bottom: 20px; }
  .main-wrapper .left .success .contact-details span {
    width: 100%;
    clear: both;
    display: block;
    color: #f3f1f0;
    line-height: 21px;
    font-size: 17px;
    margin-bottom: 10px;
    font-family: HelveticaNeue-Light, sans-serif; }
    .main-wrapper .left .success .contact-details span i {
      font-family: HelveticaNeue-Italic, sans-serif;
      font-style: italic; }
  .main-wrapper .left .logo1 {
    top: 0;
    left: 0;
    padding: 60px;
    width: 100%;
    max-width: 230px;
    position: absolute; }
    .main-wrapper .left .logo1 img {
      max-width: 231px;
      transition: all 0.5s; }
    .main-wrapper .left .logo1.smaller img {
      max-width: 176px; }
  .main-wrapper .left .logo2 {
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 170px;
    padding: 60px;
    position: absolute; }
    .main-wrapper .left .logo2 p {
      color: #fff;
      font-size: 12px;
      line-height: 28px;
      margin-bottom: 10px; }
    .main-wrapper .left .logo2 img {
      max-width: 174px;
      transition: all 0.5s; }
    .main-wrapper .left .logo2.smaller img {
      max-width: 129px; }
  .main-wrapper .right {
    top: 0;
    right: 0;
    z-index: 8;
    height: 100%;
    display: table;
    position: fixed; }
    .main-wrapper .right .home-wrapper {
      top: 0;
      right: calc(100vw / 4);
      z-index: 11;
      width: 100%;
      max-width: 950px;
      height: 100%;
      display: table;
      position: absolute; }
      .main-wrapper .right .home-wrapper .home-caption {
        color: #fff;
        width: 100%;
        transition: all 0.5s;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        margin: 0 auto;
        max-width: 450px;
        letter-spacing: .7px;
        font-family: HelveticaNeue-Light, sans-serif; }
        .main-wrapper .right .home-wrapper .home-caption p {
          line-height: 28px;
          max-width: 450px;
          text-align: center;
          margin: 0 auto;
          object-fit: contain;
          font-family: HelveticaNeue-light, sans-serif;
          font-size: 21px;
          font-weight: 300; }
        .main-wrapper .right .home-wrapper .home-caption h1 {
          font-family: miller-banner, sans-serif;
          font-style: normal;
          font-size: 80px;
          text-align: center;
          text-transform: uppercase; }
          .main-wrapper .right .home-wrapper .home-caption h1 i {
            font-style: italic;
            text-transform: lowercase; }
        .main-wrapper .right .home-wrapper .home-caption img {
          max-width: 800px;
          margin-top: 80px;
          clear: both; }
  .main-wrapper .right-mobile {
    width: 100%;
    height: 350px;
    display: none !important;
    position: relative; }
    .main-wrapper .right-mobile .bg {
      width: 100%;
      height: 350px;
      opacity: .4;
      position: absolute;
      transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1); }
  .main-wrapper .mobile-wrapper {
    margin: -80px auto 0;
    position: absolute;
    width: 100%;
    display: none !important; }
    .main-wrapper .mobile-wrapper .button {
      width: 116px; }
    .main-wrapper .mobile-wrapper .validation-error {
      width: 100%;
      padding: 10px;
      display: none;
      transition: all 0.5s;
      border: 1px solid red; }
      .main-wrapper .mobile-wrapper .validation-error.active {
        display: none; }
    .main-wrapper .mobile-wrapper .home-caption {
      display: block !important;
      right: unset;
      top: 0;
      margin: 0 auto;
      width: 100%;
      max-width: 350px;
      font-family: HelveticaNeue-Light, sans-serif; }
      .main-wrapper .mobile-wrapper .home-caption p {
        font-size: 17px;
        text-align: center;
        margin: 50px auto 30px;
        object-fit: contain;
        font-family: HelveticaNeue-light, sans-serif;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: .57px;
        width: 100%;
        max-width: 350px; }
      .main-wrapper .mobile-wrapper .home-caption h1 {
        margin: 0 auto;
        font-family: miller-banner, sans-serif;
        font-style: normal;
        font-size: 40px !important;
        text-align: center;
        width: 100%;
        max-width: 350px;
        text-transform: uppercase; }
        .main-wrapper .mobile-wrapper .home-caption h1 i {
          font-style: italic;
          text-transform: lowercase; }
      .main-wrapper .mobile-wrapper .home-caption img {
        max-width: 800px;
        margin-top: 80px;
        clear: both; }
    .main-wrapper .mobile-wrapper .logo2 {
      display: none;
      margin: 50px auto 0;
      width: 100%;
      max-width: 350px; }
      .main-wrapper .mobile-wrapper .logo2 img {
        max-width: 113px; }
      .main-wrapper .mobile-wrapper .logo2 p {
        font-size: 12px; }
    .main-wrapper .mobile-wrapper .regform-caption {
      margin-top: 80px;
      display: block !important;
      position: relative;
      font-family: miller-banner, sans-serif;
      font-style: normal;
      font-size: 30px;
      text-align: center;
      text-transform: uppercase; }
      .main-wrapper .mobile-wrapper .regform-caption p {
        max-width: 300px;
        margin: 0 auto 20px; }
        .main-wrapper .mobile-wrapper .regform-caption p i {
          font-size: 26px;
          margin-left: -30px;
          font-style: italic;
          text-transform: lowercase; }
        .main-wrapper .mobile-wrapper .regform-caption p span {
          width: 100%;
          margin-left: 40px; }
    .main-wrapper .mobile-wrapper .reg-form {
      display: block;
      height: 100%;
      transition: all 2s;
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 350px; }
      .main-wrapper .mobile-wrapper .reg-form form .reg-input {
        border-bottom: none; }
        .main-wrapper .mobile-wrapper .reg-form form .reg-input input {
          width: 350px;
          border: 0;
          color: #fff;
          padding: 10px;
          outline: 0;
          font-size: 14px;
          line-height: 24px;
          transition: all .5s;
          border-bottom: 1px solid #908a8a;
          font-family: HelveticaNeue-Medium, sans-serif;
          background-color: transparent; }
          .main-wrapper .mobile-wrapper .reg-form form .reg-input input[type=submit] {
            width: 350px;
            border: 0;
            color: #fff;
            padding: 10px;
            outline: 0;
            font-size: 14px;
            line-height: 24px;
            transition: all .5s;
            font-family: HelveticaNeue-Medium, sans-serif;
            background-color: transparent; }
          .main-wrapper .mobile-wrapper .reg-form form .reg-input input::-webkit-input-placeholder, .main-wrapper .mobile-wrapper .reg-form form .reg-input input[type=submit]::-webkit-input-placeholder, .main-wrapper .mobile-wrapper .reg-form form .reg-input input:-ms-input-placeholder, .main-wrapper .mobile-wrapper .reg-form form .reg-input input[type=submit]:-ms-input-placeholder, .main-wrapper .mobile-wrapper .reg-form form .reg-input input::placeholder, .main-wrapper .mobile-wrapper .reg-form form .reg-input input[type=submit]::placeholder {
            color: #fff; }
        .main-wrapper .mobile-wrapper .reg-form form .reg-input select {
          width: 350px;
          border: 0;
          color: #757575;
          outline: 0;
          padding: 10px;
          height: 45px;
          font-size: 14px;
          border-radius: unset;
          line-height: 24px;
          transition: all .5s;
          background-color: transparent;
          border-bottom: 1px solid #908a8a; }
          .main-wrapper .mobile-wrapper .reg-form form .reg-input select option {
            color: #000;
            font-size: 14px;
            font-family: HelveticaNeue-Medium, sans-serif; }
      .main-wrapper .mobile-wrapper .reg-form .contact-details {
        color: #fff;
        width: 100%;
        display: table;
        transition: all 3s; }
        .main-wrapper .mobile-wrapper .reg-form .contact-details .left, .main-wrapper .mobile-wrapper .reg-form .contact-details .right {
          float: left;
          height: auto;
          top: unset;
          left: unset;
          position: unset;
          background-image: none; }
        .main-wrapper .mobile-wrapper .reg-form .contact-details .left.kay img, .main-wrapper .mobile-wrapper .reg-form .contact-details .right.kay img {
          width: 122px;
          height: 17px; }
        .main-wrapper .mobile-wrapper .reg-form .contact-details .left {
          width: 54%; }
          .main-wrapper .mobile-wrapper .reg-form .contact-details .left img {
            width: 171px;
            height: auto; }
        .main-wrapper .mobile-wrapper .reg-form .contact-details .right {
          display: block;
          width: 40%;
          text-align: center; }
          .main-wrapper .mobile-wrapper .reg-form .contact-details .right img {
            width: 108px !important;
            height: auto !important; }
        .main-wrapper .mobile-wrapper .reg-form .contact-details img {
          width: 205px;
          height: 12px;
          clear: both;
          margin-bottom: 20px; }
        .main-wrapper .mobile-wrapper .reg-form .contact-details span {
          width: 100%;
          clear: both;
          display: block;
          text-align: center;
          color: #f3f1f0;
          line-height: 21px;
          font-size: 17px;
          margin-bottom: 10px;
          font-family: HelveticaNeue-Light, sans-serif; }
          .main-wrapper .mobile-wrapper .reg-form .contact-details span i {
            font-family: HelveticaNeue-Italic, sans-serif;
            font-style: italic; }
    .main-wrapper .mobile-wrapper .success .contact-details {
      display: none; }
    .main-wrapper .mobile-wrapper .success p {
      display: block;
      max-width: 320px;
      font-size: 15px;
      margin: 50px auto;
      text-align: center;
      line-height: 20px;
      letter-spacing: .5px;
      font-family: HelveticaNeue-Light, sans-serif; }
      .main-wrapper .mobile-wrapper .success p i {
        font-size: 15px;
        text-align: center;
        font-style: italic;
        text-transform: lowercase; }
      .main-wrapper .mobile-wrapper .success p span {
        width: 100%; }
  .main-wrapper .button {
    color: #000;
    cursor: pointer;
    margin: 0 auto;
    width: 150px;
    clear: both;
    outline: 0;
    font-size: 22px;
    text-align: center;
    display: block;
    padding: 8px;
    transition: all .5s;
    font-style: italic;
    -webkit-text-stroke: .5px #685731;
    font-family: bressay-display, sans-serif;
    border: 0;
    border-radius: 18px;
    background-color: #fff; }
    .main-wrapper .button.submits {
      color: #fff;
      padding-top: 2px;
      width: 121px;
      height: 32px;
      margin: 50px auto;
      background-color: #685731; }
      .main-wrapper .button.submits:hover {
        background-color: grey; }
  .main-wrapper.mobile {
    width: 100%;
    display: block; }
    .main-wrapper.mobile .left {
      width: 100%;
      position: relative; }
      .main-wrapper.mobile .left .logo1, .main-wrapper.mobile .left .logo2 {
        padding: 0;
        max-width: 100%;
        height: 200px;
        position: relative; }
      .main-wrapper.mobile .left .logo1 div, .main-wrapper.mobile .left .logo2 div {
        width: 100%;
        height: 100%;
        display: table;
        position: relative; }
      .main-wrapper.mobile .left .logo1 div img {
        margin: 50px auto 0;
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        max-width: 140px; }
      .main-wrapper.mobile .left .logo2 {
        display: none; }
        .main-wrapper.mobile .left .logo2 div img {
          margin: 50px auto 0;
          display: table-cell;
          vertical-align: middle;
          padding: 0;
          max-width: 140px; }
      .main-wrapper.mobile .left .success, .main-wrapper.mobile .left .thankyou-caption {
        display: none !important; }
    .main-wrapper.mobile .right {
      display: none; }
      .main-wrapper.mobile .right .home-caption {
        display: block;
        width: 100%;
        right: unset;
        margin: 0 auto; }
        .main-wrapper.mobile .right .home-caption h1 {
          width: 230px;
          font-size: 40px;
          margin: 0 auto;
          text-align: center; }
    .main-wrapper.mobile .right-mobile {
      display: block !important; }
    .main-wrapper.mobile .logo2 {
      display: table; }
      .main-wrapper.mobile .logo2 p {
        float: left; }
      .main-wrapper.mobile .logo2 img {
        float: right; }
    .main-wrapper.mobile .mobile-wrapper {
      display: block !important; }

@media (max-width: 1900px) {
  .home-caption {
    max-width: 800px !important; }
    .home-caption h1 {
      font-size: 65px !important; } }

@media (max-width: 1600px) {
  .home-caption {
    max-width: 800px !important; }
    .home-caption h1 {
      font-size: 50px !important; }
  .main-wrapper .left .reg-form .contact-details .left img, .main-wrapper .success .contact-details .left img {
    width: 145px;
    height: auto; }
  .main-wrapper .left .reg-form .contact-details .right img, .main-wrapper .success .contact-details .right img {
    width: 90px !important;
    height: auto !important; } }

@media (max-width: 1300px) {
  .main-wrapper .left .reg-form {
    left: 16%;
    max-width: 65%; }
    .main-wrapper .left .reg-form .contact-details {
      width: 95%; }
      .main-wrapper .left .reg-form .contact-details .left {
        width: 60% !important;
        display: inline-block; }
  .main-wrapper .success .contact-details .left {
    width: 60% !important;
    display: inline-block; }
  .main-wrapper .left .reg-form .contact-details .right, .main-wrapper .success .contact-details .right {
    width: 40% !important;
    display: inline-block; }
  .main-wrapper .left .success {
    max-width: 60%;
    left: 20%; }
    .main-wrapper .left .success p {
      width: 330px;
      font-size: 18px; }
    .main-wrapper .left .success .contact-details {
      width: auto;
      max-width: 100%; } }

@media (max-width: 780px) {
  .main-wrapper.mobile .left .reg-form, .main-wrapper.mobile .left .regform-caption {
    display: none !important; }
  .main-wrapper .mobile {
    width: 30%; } }

.main-wrapper .left .success .contact-details .left {
  width: 60%; }

.main-wrapper .left .success .contact-details .right {
  width: 40%; }

.main-wrapper .left .success .contact-details img {
  width: 205px;
  height: 12px;
  clear: both;
  margin-bottom: 20px; }

.main-wrapper .left .success .contact-details span {
  width: 100%;
  clear: both;
  display: block;
  color: #f3f1f0;
  line-height: 21px;
  font-size: 13px;
  margin-bottom: 10px; }
  .main-wrapper .left .success .contact-details span i {
    font-family: HelveticaNeue-Italic,sans-serif;
    font-style: italic; }

.main-wrapper .left .logo1 {
  top: 0;
  left: 0;
  padding: 60px;
  width: 100%;
  max-width: 230px;
  position: absolute; }
  .main-wrapper .left .logo1 img {
    max-width: 231px;
    transition: all .5s; }
  .main-wrapper .left .logo1.smaller img {
    max-width: 176px; }

.main-wrapper .left .logo2 {
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 170px;
  padding: 60px;
  position: absolute; }
  .main-wrapper .left .logo2 p {
    color: #fff;
    font-size: 12px;
    line-height: 28px;
    margin-bottom: 10px; }
  .main-wrapper .left .logo2 img {
    max-width: 174px;
    transition: all .5s; }
  .main-wrapper .left .logo2.smaller img {
    max-width: 129px; }

.main-wrapper .right .home-caption p {
  line-height: 28px;
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
  object-fit: contain;
  font-family: HelveticaNeue-light,sans-serif;
  font-size: 21px;
  font-weight: 300; }

.main-wrapper .right .home-caption h1 {
  font-family: miller-banner,sans-serif;
  font-style: normal;
  font-size: 80px;
  text-align: center;
  text-transform: uppercase; }
  .main-wrapper .right .home-caption h1 i {
    font-style: italic;
    text-transform: lowercase; }

.main-wrapper .right .home-caption img {
  max-width: 800px;
  margin-top: 80px;
  clear: both; }

.main-wrapper .right-mobile {
  width: 100%;
  height: 350px;
  display: none !important;
  position: relative; }
  .main-wrapper .right-mobile .bg {
    width: 100%;
    height: 350px;
    opacity: .4;
    position: absolute;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1); }

.main-wrapper .mobile-wrapper {
  margin: -80px auto 0;
  position: absolute;
  width: 100%;
  display: none !important; }
  .main-wrapper .mobile-wrapper .button {
    width: 116px; }
  .main-wrapper .mobile-wrapper .home-caption {
    display: block !important;
    right: unset;
    top: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
    font-family: HelveticaNeue-Light,sans-serif; }
    .main-wrapper .mobile-wrapper .home-caption p {
      font-size: 17px;
      text-align: center;
      margin: 50px auto 30px;
      object-fit: contain;
      font-family: HelveticaNeue-light,sans-serif;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: .57px;
      width: 100%;
      max-width: 350px; }
    .main-wrapper .mobile-wrapper .home-caption h1 {
      margin: 0 auto;
      font-family: miller-banner,sans-serif;
      font-style: normal;
      font-size: 40px !important;
      text-align: center;
      width: 100%;
      max-width: 350px;
      text-transform: uppercase; }
      .main-wrapper .mobile-wrapper .home-caption h1 i {
        font-style: italic;
        text-transform: lowercase; }
    .main-wrapper .mobile-wrapper .home-caption img {
      max-width: 800px;
      margin-top: 80px;
      clear: both; }
  .main-wrapper .mobile-wrapper .logo2 {
    display: none;
    margin: 50px auto 0;
    width: 100%;
    max-width: 350px; }
    .main-wrapper .mobile-wrapper .logo2 img {
      max-width: 113px; }
    .main-wrapper .mobile-wrapper .logo2 p {
      font-size: 12px; }
  .main-wrapper .mobile-wrapper .regform-caption {
    margin-top: 80px;
    display: block !important;
    position: relative;
    font-family: miller-banner,sans-serif;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase; }
    .main-wrapper .mobile-wrapper .regform-caption p {
      max-width: 300px;
      margin: 0 auto 20px; }
      .main-wrapper .mobile-wrapper .regform-caption p i {
        font-size: 26px;
        margin-left: -30px;
        font-style: italic;
        text-transform: lowercase; }
      .main-wrapper .mobile-wrapper .regform-caption p span {
        width: 100%;
        margin-left: 40px; }
  .main-wrapper .mobile-wrapper .reg-form {
    display: block;
    height: 100%;
    transition: all 2s;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 350px; }
    .main-wrapper .mobile-wrapper .reg-form form .reg-input {
      /*border-bottom: 1px solid #908a8a;*/ }
      .main-wrapper .mobile-wrapper .reg-form form .reg-input input {
        width: 350px;
        border: 0;
        color: #fff;
        padding: 10px;
        outline: 0;
        font-size: 14px;
        line-height: 24px;
        transition: all .5s;
        border-bottom: 1px solid #908a8a;
        font-family: HelveticaNeue-Medium,sans-serif;
        background-color: transparent; }
        .main-wrapper .mobile-wrapper .reg-form form .reg-input input[type=submit] {
          width: 350px;
          border: 0;
          color: #fff;
          padding: 10px;
          outline: 0;
          font-size: 14px;
          line-height: 24px;
          transition: all .5s;
          font-family: HelveticaNeue-Medium,sans-serif;
          background-color: transparent; }
        .main-wrapper .mobile-wrapper .reg-form form .reg-input input::-webkit-input-placeholder, .main-wrapper .mobile-wrapper .reg-form form .reg-input input[type=submit]::-webkit-input-placeholder, .main-wrapper .mobile-wrapper .reg-form form .reg-input input:-ms-input-placeholder, .main-wrapper .mobile-wrapper .reg-form form .reg-input input[type=submit]:-ms-input-placeholder, .main-wrapper .mobile-wrapper .reg-form form .reg-input input::placeholder, .main-wrapper .mobile-wrapper .reg-form form .reg-input input[type=submit]::placeholder {
          color: #fff; }
      .main-wrapper .mobile-wrapper .reg-form form .reg-input select {
        width: 365px;
        border: 0;
        color: #757575;
        outline: 0;
        padding: 10px;
        height: 45px;
        font-size: 14px;
        border-radius: unset;
        line-height: 24px;
        transition: all .5s;
        background-color: transparent;
        border-bottom: 1px solid #908a8a; }
        .main-wrapper .mobile-wrapper .reg-form form .reg-input select option {
          color: #000;
          font-size: 14px;
          font-family: HelveticaNeue-Medium,sans-serif; }
    .main-wrapper .mobile-wrapper .reg-form .contact-details {
      color: #fff;
      width: 100%;
      display: table;
      transition: all 3s; }
      .main-wrapper .mobile-wrapper .reg-form .contact-details .left, .main-wrapper .mobile-wrapper .reg-form .contact-details .right {
        float: left;
        height: auto;
        top: unset;
        left: unset;
        position: unset;
        background-image: none; }
      .main-wrapper .mobile-wrapper .reg-form .contact-details .left.kay img, .main-wrapper .mobile-wrapper .reg-form .contact-details .right.kay img {
        width: 122px;
        height: 17px; }
      .main-wrapper .mobile-wrapper .reg-form .contact-details .left {
        width: 54%; }
        .main-wrapper .mobile-wrapper .reg-form .contact-details .left img {
          width: 171px;
          height: auto; }
      .main-wrapper .mobile-wrapper .reg-form .contact-details .right {
        display: block;
        width: 40%;
        text-align: center; }
        .main-wrapper .mobile-wrapper .reg-form .contact-details .right img {
          width: 108px !important;
          height: auto !important; }
      .main-wrapper .mobile-wrapper .reg-form .contact-details img {
        width: 205px;
        height: 12px;
        clear: both;
        margin-bottom: 20px; }
      .main-wrapper .mobile-wrapper .reg-form .contact-details span {
        width: 100%;
        clear: both;
        display: block;
        text-align: center;
        color: #f3f1f0;
        line-height: 21px;
        font-size: 15px;
        margin-bottom: 10px; }
        .main-wrapper .mobile-wrapper .reg-form .contact-details span i {
          font-family: HelveticaNeue-Italic,sans-serif;
          font-style: italic; }
  .main-wrapper .mobile-wrapper .success .contact-details {
    display: none; }
  .main-wrapper .mobile-wrapper .success p {
    display: block;
    max-width: 320px;
    font-size: 15px;
    margin: 50px auto;
    text-align: center;
    line-height: 20px;
    letter-spacing: .5px;
    font-family: HelveticaNeue-Light,sans-serif; }
    .main-wrapper .mobile-wrapper .success p i {
      font-size: 15px;
      text-align: center;
      font-style: italic;
      text-transform: lowercase; }
    .main-wrapper .mobile-wrapper .success p span {
      width: 100%; }

.main-wrapper .button {
  color: #000;
  cursor: pointer;
  margin: 0 auto;
  width: 150px;
  clear: both;
  font-size: 22px;
  text-align: center;
  display: block;
  padding: 8px;
  transition: all .5s;
  font-style: italic;
  -webkit-text-stroke: .5px #685731;
  font-family: bressay-display,sans-serif;
  border: 0;
  border-radius: 18px;
  background-color: #fff; }
  .main-wrapper .button.submits {
    color: #fff;
    padding-top: 2px;
    width: 121px;
    height: 32px;
    margin: 50px auto;
    background-color: #685731; }
    .main-wrapper .button.submits:hover {
      background-color: grey; }

.main-wrapper.mobile {
  width: 100%;
  display: block; }
  .main-wrapper.mobile .left {
    width: 100%;
    position: relative; }
    .main-wrapper.mobile .left .logo1, .main-wrapper.mobile .left .logo2 {
      padding: 0;
      max-width: 100%;
      height: 200px;
      position: relative; }
    .main-wrapper.mobile .left .logo1 div, .main-wrapper.mobile .left .logo2 div {
      width: 100%;
      height: 100%;
      display: table;
      position: relative; }
    .main-wrapper.mobile .left .logo1 div img {
      margin: 50px auto 0;
      display: table-cell;
      vertical-align: middle;
      padding: 0;
      max-width: 140px; }
    .main-wrapper.mobile .left .logo2 {
      display: none; }
      .main-wrapper.mobile .left .logo2 div img {
        margin: 50px auto 0;
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        max-width: 140px; }
    .main-wrapper.mobile .left .success, .main-wrapper.mobile .left .thankyou-caption {
      display: none !important; }
  .main-wrapper.mobile .right {
    display: none; }
    .main-wrapper.mobile .right .home-caption {
      display: block;
      width: 100%;
      right: unset;
      margin: 0 auto; }
      .main-wrapper.mobile .right .home-caption h1 {
        width: 230px;
        font-size: 40px;
        margin: 0 auto;
        text-align: center; }
  .main-wrapper.mobile .right-mobile {
    display: block !important; }
  .main-wrapper.mobile .logo2 {
    display: table; }
    .main-wrapper.mobile .logo2 p {
      float: left; }
    .main-wrapper.mobile .logo2 img {
      float: right; }
  .main-wrapper.mobile .mobile-wrapper {
    display: block !important; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-size: 15px;
  background-position: center;
  background-image: url(/assets/images/white-arrow.png);
  background-repeat: no-repeat;
  background-position-x: 99%; }

@media (max-width: 2570px) {
  .main-wrapper .right .home-wrapper {
    right: 63%; } }

@media (max-width: 2200px) {
  .main-wrapper .right .home-wrapper {
    right: 52%; }
  .main-wrapper .right .home-wrapper {
    right: 63%; } }

@media (max-width: 1920px) {
  .main-wrapper .right .home-wrapper {
    right: calc(100vw / 4); } }

@media (max-width: 1900px) {
  .home-caption {
    max-width: 800px !important; }
  .home-caption h1 {
    font-size: 65px !important; } }

@media (max-width: 1600px) {
  .home-caption {
    max-width: 800px !important; }
  .home-caption h1 {
    font-size: 50px !important; }
  .main-wrapper .left .reg-form .contact-details .left img, .main-wrapper .success .contact-details .left img {
    width: 170px;
    height: auto; }
  .main-wrapper .contact-details {
    width: 95%; }
  .main-wrapper .mobile-wrapper .left .reg-form .contact-details .right img {
    margin-bottom: 15px; }
  .main-wrapper .left .reg-form .contact-details .right img, .main-wrapper .success .contact-details .right img {
    width: 115px !important;
    height: auto !important; }
  .main-wrapper .left .reg-form form .reg-input select {
    width: 105%; } }

@media (max-width: 1700px) {
  .main-wrapper .left .reg-form form .reg-input select {
    width: 104.8%; } }

@media (max-width: 1300px) {
  .main-wrapper .left .reg-form {
    left: 16%;
    max-width: 65%; }
  .main-wrapper .left .reg-form .contact-details {
    width: 97%; }
  .main-wrapper .left .reg-form .contact-details .left {
    width: 60% !important;
    display: inline-block; }
  .main-wrapper .left .reg-form .contact-details .right img {
    margin-bottom: 15px; }
  .main-wrapper .mobile-wrapper .reg-form .contact-details .right img {
    margin-bottom: 15px; }
  .main-wrapper .success .contact-details .left {
    width: 60% !important;
    display: inline-block; }
  .main-wrapper .left .reg-form .contact-details .right, .main-wrapper .success .contact-details .right {
    width: 40% !important;
    display: inline-block; }
  .main-wrapper .left .success {
    max-width: 60%;
    left: 20%; }
  .main-wrapper .left .success p {
    width: 330px;
    font-size: 18px; }
  .main-wrapper .left .success .contact-details {
    width: auto;
    max-width: 100%; } }

@media (max-width: 980px) {
  .main-wrapper .left .reg-form .contact-details {
    width: 110%; }
  .main-wrapper .left .reg-form .contact-details .left {
    width: 60% !important;
    display: inline-block; }
  .main-wrapper .left .reg-form .contact-details span {
    font-size: 14px; } }

@media (min-width: 841px) {
  #home {
    display: table-cell; } }

@media (max-width: 860px) {
  #home, #thankyou, #regform {
    display: none; }
  .main-wrapper.mobile .left .reg-form, .main-wrapper.mobile .left .regform-caption {
    display: none !important; }
  .main-wrapper .main-wrapper .left .reg-form .contact-details {
    width: 100%; }
  .main-wrapper .mobile {
    width: 30%; }
  .main-wrapper .mobile-wrapper .reg-form .contact-details .left img {
    float: right; } }

@media (max-width: 768px) {
  .main-wrapper .right-mobile .bg {
    height: 430px; }
  .main-wrapper .mobile-wrapper {
    margin: -20px auto 0; } }

@media (max-width: 480px) {
  .main-wrapper .mobile-wrapper {
    margin: -20px auto 0; } }

/*# sourceMappingURL=../maps/styles.css.map */
